<div id="offcanvas-right" class="c-offcanvas c-offcanvas--right" aria-hidden="true">
    <div class="c-cart c-drawer">  
        <div class="c-drawer__header">
            <h3 class="c-drawer__title">Shopping Cart </h3>
            <span class="c-offcanvas__close c-drawer__close" aria-label="Close Menu" aria-hidden="true">
                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="cart-slide-in-CL--subscription" transform="translate(-339.000000, -20.000000)" fill="#B9680C" fill-rule="nonzero">
                            <g id="noun_X_1099163_3d3d38" transform="translate(339.000000, 20.000000)">
                                <path d="M6.97148103,8 L0.213013231,1.2415322 C-0.0710044102,0.957514526 -0.0710044102,0.497030907 0.213013231,0.213013231 C0.497030907,-0.0710044102 0.957514526,-0.0710044102 1.2415322,0.213013231 L8,6.97148103 L14.7584678,0.213013231 C15.0424855,-0.0710044102 15.5029691,-0.0710044102 15.7869868,0.213013231 C16.0710044,0.497030907 16.0710044,0.957514526 15.7869868,1.2415322 L9.02851897,8 L15.7869868,14.7584678 C16.0710044,15.0424855 16.0710044,15.5029691 15.7869868,15.7869868 C15.5029691,16.0710044 15.0424855,16.0710044 14.7584678,15.7869868 L8,9.02851897 L1.2415322,15.7869868 C0.957514526,16.0710044 0.497030907,16.0710044 0.213013231,15.7869868 C-0.0710044102,15.5029691 -0.0710044102,15.0424855 0.213013231,14.7584678 L6.97148103,8 Z" id="Path"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>

            
        </div>
        <form action="/cart" class="addtocart-form" novalidate method="post">
            <span data-cart-render=""></span>
            <div id="" class="c-drawer__body" data-cart-view="data-cart-view" rules="all">
                {% if shop.money_with_currency_format contains 'USD' %}
                <div class="c-drawer__subscribeProduct" rv-show="cart.item_count | gt 0">
                    <div class="c-interstitialBtnArea c-drawer__subscribeBtn">
                        <a href="#" class="btn btn--secondary c-interstitialBtn js-modal-subscribe">
                            subscribe & save 20%
                            <svg width="16px" height="9px" viewBox="0 0 16 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Gut-Landing-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Desktop_interstitial-screen-selector" transform="translate(-894.000000, -671.000000)" fill="#B9680C">
                                        <g id="Group-4" transform="translate(289.000000, 283.000000)">
                                            <g id="Group-2" transform="translate(53.000000, 30.000000)">
                                                <g id="noun_down-chevron_613794" transform="translate(551.000000, 350.000000)">
                                                    <g id="Group" transform="translate(8.793502, 8.992493) scale(-1, 1) rotate(135.000000) translate(-8.793502, -8.992493) translate(2.793502, 2.992493)">
                                                        <path d="M11.8076252,1.81694341 L11.8076252,10.9346874 C11.8076252,11.3223084 11.4934137,11.6360523 11.1062603,11.6360523 C10.7191068,11.6360523 10.4048954,11.3223084 10.4048954,10.9346874 L10.4048954,1.81694341 L1.28715136,1.81694341 C0.899997923,1.81694341 0.585786438,1.5031995 0.585786438,1.11557849 C0.585786438,0.728425048 0.899997923,0.414213562 1.28715136,0.414213562 L11.0987791,0.414213562 C11.2867449,0.414213562 11.4672294,0.489025821 11.6000212,0.62181758 C11.7328129,0.755076915 11.8076252,0.935093912 11.8076252,1.12305971 L11.8076252,1.81694341 Z" id="Path"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>  
                        <div class="c-interstitialDropDown js-modal-subscribe-dropdown">
                            <a href="#" data-value="45 Days">EVERY 45 DAYS</a>
                            <a href="#" data-value="60 Days">EVERY 60 DAYS</a>
                            <a href="#" data-value="75 Days">EVERY 75 DAYS</a>
                        </div> 
                    </div>
                    <!--a href="#" class="btn btn--secondary">subscribe & save 20%</a-->
                </div>
                {% endif %}

                <div class="c-cart__productList">
                    <div class="c-cart__productArea">
                        <div rv-each-item="cart.items" class="c-cart__product" rv-variant-id="item.variant_id" product-variant-id="item.variant_id" rv-data-original-price="item.price">
                            <div class="c-cart__row c-drawer__item">
                                <div class="c-cart__itemImageBox c-drawer__itemImg">
                                    <img rv-src="item.image" rv-alt="item.variant_title">
                                </div>
                                <div class="c-cart__itemInfoBox c-drawer__itemDesc">
                                    <div rv-unless="item.properties.Subscription">
                                        <h2 rv-html="item.product_title | cname" class="c-cart__itemName c-drawer__itemName"></h2>    
                                    </div>
                                    <h2 rv-text="item.properties.Subscription Product Title" class="c-cart__itemName c-drawer__itemName"></h2>
                                    <div class="c-cart__deliveryInfo" rv-if="item.properties.Subscription" >
                                        20% off
                                        / {% include 'icon' with 'repeat' %} Delivery Every 
                                        <span rv-text="item.properties.Subscription"></span>
                                    </div>
                                    
                                    <span class="c-cart__itemRemove" rv-data-id="item.key" product-data-id="item.key" rv-data-cart-remove-id="item.key" >
                                        <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="cart-slide-in-CL--subscription" transform="translate(-343.000000, -225.000000)" fill="#3D3D38" fill-rule="nonzero">
                                                    <g id="the-good-sample" transform="translate(30.000000, 225.000000)">
                                                        <g id="noun_X_1099163_3d3d38-Copy" transform="translate(313.000000, 0.000000)">
                                                            <path d="M5.22861077,6 L0.159759923,0.931149151 C-0.0532533077,0.718135894 -0.0532533077,0.37277318 0.159759923,0.159759923 C0.37277318,-0.0532533077 0.718135894,-0.0532533077 0.931149151,0.159759923 L6,5.22861077 L11.0688508,0.159759923 C11.2818641,-0.0532533077 11.6272268,-0.0532533077 11.8402401,0.159759923 C12.0532533,0.37277318 12.0532533,0.718135894 11.8402401,0.931149151 L6.77138923,6 L11.8402401,11.0688508 C12.0532533,11.2818641 12.0532533,11.6272268 11.8402401,11.8402401 C11.6272268,12.0532533 11.2818641,12.0532533 11.0688508,11.8402401 L6,6.77138923 L0.931149151,11.8402401 C0.718135894,12.0532533 0.37277318,12.0532533 0.159759923,11.8402401 C-0.0532533077,11.6272268 -0.0532533077,11.2818641 0.159759923,11.0688508 L5.22861077,6 Z" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                    <div class="c-cart__itemLowerBox" rv-if="item.final_line_price">
                                        <div rv-if="item.properties.Subscription" class="c-cart__subTime">
                                            <span class="js-subscription-price c-cart__itemPrice"
                                            rv-data-original-price="item.final_line_price"
                                            rv-data-discount-amount="item.properties.Discount Amount"
                                            rv-data-subscription-amount="item.properties.Subscription Amount"
                                            rv-data-currency-symbol="USD"
                                            rv-data-cart-quantity="item.quantity"
                                            rv-text="item.properties.Subscription Amount"
                                            ></span>
                                        </div>
                                        <div rv-unless="item.properties.Subscription" class="c-cart__oneTime">
                                            <div class="c-cart__itemPriceBox c-drawer__itemPrice">
                                                {% if shop.money_with_currency_format contains 'USD' %}
                                                    <span class="js-onetime-price c-cart__itemPrice" 
                                                    rv-data-discount-amount="item.properties.Discount Amount"
                                                    rv-data-subscription-amount="item.properties.Subscription Amount"
                                                    rv-data-currency-symbol="USD"
                                                    rv-data-cart-quantity="item.quantity"
                                                    rv-html="item.final_line_price | money Currency.currentCurrency"
                                                >
                                                    
                                                {% else %}
                                                    <span class="c-cart__itemPrice" rv-html="item.final_line_price | money" class="c-cart__itemPrice">
                                                {% endif %}
                                                    
                                                </span>
                                            </div>
                                        </div>
                                        <div class="c-cart__itemQuantityBox ajaxcart__qty">
                                            <a href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1" class="ajaxcart__qty-adjust ajaxcart__qty--minus js-minus-product icon-fallback-text">
                                                <span class="c-drawer__minus">
                                                    <svg width="10" height="2" xmlns="http://www.w3.org/2000/svg"><path d="M12.612 0H1.478C1.264 0 .8.308.8.925c0 .616.464.924.678.924h11.134c.214 0 .678-.308.678-.924 0-.617-.464-.925-.678-.925z" fill="#d3d2d0" fill-rule="nonzero"/></svg>
                                                </span>
                                            </a>
                                            <span rv-text="item.quantity" class="ajaxcart__qty-num"></span>
                                            <a href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text">
                                                <span class="c-drawer__plus">
                                                    <svg width="11" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M11.485 5.163H6.974V.65c0-.205-.28-.651-.838-.651C5.578 0 5.3.446 5.3.651v4.512H.788c-.206 0-.652.279-.652.837 0 .558.446.837.652.837h4.511v4.512c0 .205.28.651.837.651.558 0 .838-.446.838-.651V6.837h4.511c.206 0 .651-.279.651-.837 0-.558-.445-.837-.65-.837z" fill="#d3d2d0" fill-rule="nonzero"/></svg>
                                                </span>
                                            </a>
                                        </div>
                                        <div rv-each-discount="item.discounts" rv-hide="item.discounts | empty" class="c-cart__itemDiscountBox">
                                            <span rv-text="discount.title" class="c-cart__itemDiscount"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if cart.total_discount > 0 %}
                    <div class="c-cart__product swell-cart-product">
                        <div class="c-cart__row c-drawer__item">
                            <div class="c-cart__itemInfoBox c-drawer__itemDesc">
                                <h2 class="c-cart__itemName c-drawer__itemName">Discount</h2>
                                <span class="c-cart__itemRemove swell-item-remove">
                                    <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="cart-slide-in-CL--subscription" transform="translate(-343.000000, -225.000000)" fill="#3D3D38" fill-rule="nonzero">
                                                <g id="the-good-sample" transform="translate(30.000000, 225.000000)">
                                                    <g id="noun_X_1099163_3d3d38-Copy" transform="translate(313.000000, 0.000000)">
                                                        <path d="M5.22861077,6 L0.159759923,0.931149151 C-0.0532533077,0.718135894 -0.0532533077,0.37277318 0.159759923,0.159759923 C0.37277318,-0.0532533077 0.718135894,-0.0532533077 0.931149151,0.159759923 L6,5.22861077 L11.0688508,0.159759923 C11.2818641,-0.0532533077 11.6272268,-0.0532533077 11.8402401,0.159759923 C12.0532533,0.37277318 12.0532533,0.718135894 11.8402401,0.931149151 L6.77138923,6 L11.8402401,11.0688508 C12.0532533,11.2818641 12.0532533,11.6272268 11.8402401,11.8402401 C11.6272268,12.0532533 11.2818641,12.0532533 11.0688508,11.8402401 L6,6.77138923 L0.931149151,11.8402401 C0.718135894,12.0532533 0.37277318,12.0532533 0.159759923,11.8402401 C-0.0532533077,11.6272268 -0.0532533077,11.2818641 0.159759923,11.0688508 L5.22861077,6 Z" id="Path"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                                <div class="c-cart__itemLowerBox">
                                    <div class="c-cart__itemPriceBox c-drawer__itemPrice">
                                            <span class="c-cart__itemPrice" class="c-cart__itemPrice">{{ cart.total_discount | money}} 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     {% endif %}   
                </div>  

                  
             
                <div rv-show="cart.item_count | lt 1" class="c-cart__emptyText">
                    <span>You have no items in your shopping bag.</span>
             
                </div>
                
                
                <div class="c-drawer__subTotal">
                    <div class="c-drawer__subTotalLeft">
                        <div rv-show="cart.item_count | gt 0" class="c-cart__footerPriceBox">
                            <div class="c-cart__subtotal c-drawer__subTotalTitle">Subtotal</div>
                            {% if shop.money_with_currency_format contains 'USD' %}
                                <div id="cart-subtotal" class="c-cart__total js-shippingPrice c-drawer__subTotalPrice" rv-data-total-price="cart.total_price | money_without_currency" rv-html="cart.items_subtotal_price | money Currency.currentCurrency"></div>
                            {% else %}
                                <div id="cart-subtotal" class="c-cart__total js-shippingPrice c-drawer__subTotalPrice" rv-data-total-price="cart.total_price | money_without_currency" rv-html="cart.items_subtotal_price | money_with_currency"></div>
                            
                            {% endif %}
                        </div>
                    </div>
                    <div class="c-drawer__subTotalRight">
                        <div class="cartCanvas__buttons" rv-show="cart.item_count | gt 0">
                            <button class="btn btn--primary c-checkoutBtn js-cart-checkout-btn" type="submit" name="checkout" value="Check Out">Checkout</button>
                            <a href="#" class="btn btn--primary c-checkoutRechBtn js-cart-checkout-recharge-btn">Checkout</a>
                        </div>
                    </div>
                </div>
                <div class="c-cart__footer" rv-hide="cart.item_count | lt 1">
                    <div class="c-drawer__footerText">
                        Your happiness is our number one priority. If for any reason you don’t find our product satisfactory, we will be happy to issue you a full refund within 60 days of your order.
                    </div>
                </div>



                
            </div>
          
        </form>
    </div>
</div>
{{ "//code.jquery.com/jquery-3.3.1.min.js" | script_tag}}
{{"swell-drop-down.js" | asset_url | script_tag}}
