{%- assign label = label | default: 'Free Sample' -%}
<button class="btn btn--primary btn--mini free-sample-toggle" data-modal-show="free-sample-modal" title="{{ label }}"><span>{{ label }}</span></button>