
<div style="display: none;">
  <!-- inject:svg --><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs>
        <circle id="path-1" cx="23.5" cy="23.5" r="23.5"/>
        <filter x="-7.4%" y="-7.4%" width="114.9%" height="114.9%" filterUnits="objectBoundingBox" id="filter-2">
            <feGaussianBlur stdDeviation="3" in="SourceAlpha" result="shadowBlurInner1"/>
            <feOffset dx="0" dy="-1" in="shadowBlurInner1" result="shadowOffsetInner1"/>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"/>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowInnerInner1"/>
        </filter>
    </defs><symbol id="arrow-down-icon" viewBox="0 0 32 51">
    <!-- Generator: sketchtool 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>0C2748BC-975B-4B61-8B60-89527ADDCEB4</title>
    <desc>Created with sketchtool.</desc>
    <g id="Our-Story" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="OurStory_TheWhy" transform="translate(-155.000000, -523.000000)" stroke="#F1F1F1" stroke-width="2">
            <g id="Hero" transform="translate(156.000000, 0.000000)">
                <g id="Hero-Text" transform="translate(0.000000, 277.000000)">
                    <g id="arrow" transform="translate(0.000000, 246.000000)">
                        <path d="M15,0 L15,48.078125" id="Path-2"/>
                        <polyline id="Path-3" points="0 33 14.9140187 49 30 33"/>
                    </g>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="arrow-icon" viewBox="0 0 10 17">
    <!-- Generator: sketchtool 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>F33F4808-8644-4C35-ADFE-FD5948C3A17C</title>
    <desc>Created with sketchtool.</desc>
    <g id="//STYLE_TILE" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Caldera_UiKit-Molecules" transform="translate(-1199.000000, -512.000000)" fill="#21211E" stroke="#000000">
            <g id="Stacked-Group-3" transform="translate(628.000000, 504.000000)">
                <g id="$ICON-/-check-Copy" transform="translate(572.000000, 8.000000)">
                    <g id="Icon-/-Arrow-Up" transform="translate(4.000000, 8.000000) rotate(90.000000) translate(-4.000000, -8.000000) translate(-4.000000, 4.000000)">
                        <g id="Icon-/-Arrow-Down" transform="translate(8.000000, 4.000000) rotate(-180.000000) translate(-8.000000, -4.000000) ">
                            <g transform="translate(8.000000, 4.000000) rotate(90.000000) translate(-8.000000, -4.000000) translate(4.000000, -4.000000)" id="Capa_1">
                                <g transform="translate(-0.000000, -0.000000)">
                                    <path d="M7.84743083,8.15494071 L0.729644269,1.03715415 C0.562055336,0.869565217 0.293280632,0.869565217 0.1256917,1.03715415 C-0.0418972332,1.20474308 -0.0418972332,1.47351779 0.1256917,1.64110672 L6.93992095,8.45533597 L0.1256917,15.2695652 C-0.0418972332,15.4371542 -0.0418972332,15.7059289 0.1256917,15.8735178 C0.207905138,15.9557312 0.318577075,16 0.426086957,16 C0.533596838,16 0.644268775,15.9588933 0.726482213,15.8735178 L7.84426877,8.75573123 C8.01185771,8.59130435 8.01185771,8.31936759 7.84743083,8.15494071 Z" id="Shape"/>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="badge-icon" viewBox="0 0 43 40"><g id="icon-badge"><path id="Caldera_Lab_FinalLogoMark_white" data-name="Caldera+Lab_FinalLogoMark_white" class="cls-1" d="M21.5-3,14.06,6.13,20.55,14V36.37l-4.29-5.18V14.85l-1.69-2h-6L0,23.39l7.56,9.13h7.3l4.59,5.54H7.69V40H35.31V38.06H23.55l4.59-5.54h7.3L43,23.39,34.39,12.82h-6l-1.69,2V31.19l-4.29,5.18V14l6.49-7.83Zm.95,4.21,4,4.91-4,4.83Zm-5.9,4.91,4-4.91V11Zm13.13,8.64h3.81l6.12,7.51H35Zm-20.17,0h3.81L8,22.27H3.39Zm19.14,1.86,4.62,6.57v.13l-4.62,5.57ZM9.73,23.32v-.13l4.62-6.57V28.89ZM35,24.21h4.81l-5.27,6.37H29.75Zm-31.85,0H8l5.27,6.37H8.44Z"/></g></symbol><symbol id="bag-icon" viewBox="0 0 20 24">
	<g id="icon-bag">
		<polygon id="Path-3" class="cls-1" points="1.94 7.03 18.39 7.03 18.39 22.84 1.2 22.84 1.94 7.03"/>
		<path id="Shape" class="cls-1" d="M19,22.56,18.16,6.9a.35.35,0,0,0-.36-.32H14.31V4.94A4.15,4.15,0,0,0,10,1,4.15,4.15,0,0,0,5.68,4.94V6.58H2.19a.35.35,0,0,0-.37.32L1,22.65a.35.35,0,0,0,.1.25.43.43,0,0,0,.27.1H18.63a.35.35,0,0,0,.37-.33A.36.36,0,0,0,19,22.56ZM6.41,4.94A3.44,3.44,0,0,1,10,1.67a3.44,3.44,0,0,1,3.59,3.27V6.58H6.41ZM1.75,22.33,2.54,7.25H5.68v1a.37.37,0,0,0,.73,0v-1h7.17v1a.35.35,0,0,0,.36.33.36.36,0,0,0,.37-.33v-1h3.14l.79,15.08Z"/>
		<path class="cls-1" d="M18.63,23.41H1.37a.8.8,0,0,1-.55-.22.74.74,0,0,1-.22-.56L1.42,6.88a.76.76,0,0,1,.77-.7H5.28V4.94A4.54,4.54,0,0,1,10,.6a4.54,4.54,0,0,1,4.72,4.34V6.18H17.8a.76.76,0,0,1,.77.7l.81,15.6a.58.58,0,0,1,0,.19A.77.77,0,0,1,18.63,23.41ZM2.18,21.93H17.81L17.07,7.65H14.71v.6a.77.77,0,0,1-1.54,0v-.6H6.82v.6A.76.76,0,0,1,6,9a.75.75,0,0,1-.76-.74v-.6H2.92ZM6.82,6.18h6.35V4.94A3,3,0,0,0,10,2.07,3,3,0,0,0,6.82,4.94Z"/>
	</g>
</symbol><symbol id="check-icon" viewBox="0 0 9 9">
    <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>63FCF76D-269C-4A72-9F60-35AE030928C2</title>
    <desc>Created with sketchtool.</desc>
    
    <g id="Cart-+-Checkout" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Cart_Additional_Messaging" transform="translate(-1023.000000, -453.000000)" stroke="#B5A98F" stroke-width="2">
            <g id="Value-Props" transform="translate(1014.000000, 449.000000)">
                <g id="Free-Shipping-Message" transform="translate(9.000000, 0.000000)">
                    <g id="icon-check" transform="translate(0.000000, 4.000000)">
                        <polyline id="Path-2" transform="translate(4.037109, 4.134766) rotate(6.000000) translate(-4.037109, -4.134766) " points="1 5.19335938 3.42089844 7.26953125 7.07421875 1"/>
                    </g>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="close-icon" viewBox="0 0 13 13">
	<g id="x">
		<rect class="cls-1" x="5.74" y="-1.6" width="1.2" height="15.8" transform="translate(-2.6 6.32) rotate(-45)"/>
		<rect class="cls-1" x="-1.56" y="5.7" width="15.8" height="1.2" transform="translate(-2.6 6.32) rotate(-45)"/>
	</g>
</symbol><symbol id="down-arrow-icon" viewBox="0 0 47 47">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>icon-down-circle-arrow</title>
    <desc>Created with Sketch.</desc>
    
    <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="M_HP" transform="translate(-164.000000, -544.000000)">
            <g id="icon-down-circle-arrow" transform="translate(164.000000, 544.000000)">
                <g id="Oval" fill="black" fill-opacity="1">
                    <use filter="url(#filter-2)" xlink:href="#path-1"/>
                </g>
                <polyline id="icon-down-arrow" stroke="#FFFFFF" stroke-width="1.1" points="14.2093023 20.7674419 24.3199663 30.6046512 33.8837209 20.7674419"/>
            </g>
        </g>
    </g>
</symbol><symbol id="facebook-icon" viewBox="0 0 10 19"><g id="_ICON-_-social-fb" data-name="$ICON-/-social-fb"><path id="icon-fb" class="cls-1" d="M2.63,3.56V6.1H.8V9.19H2.63V18.4H6.38V9.19H8.9s.24-1.48.35-3.1H6.4V4a.9.9,0,0,1,.81-.75H9.26V0H6.47C2.53,0,2.63,3.1,2.63,3.56Z"/></g></symbol><symbol id="filled-arrow-down-icon" viewBox="0 0 17 9">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>Path 4</title>
    <desc>Created with Sketch.</desc>
    <g id="Our-Story" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="OurStory_Results_Redness" transform="translate(-918.000000, -4173.000000)" fill="#B5A98F">
            <g id="Our-Story-Navigation-Section-Copy" transform="translate(0.000000, 3877.000000)">
                <g id="Dropdown" transform="translate(502.000000, 259.000000)">
                    <polygon id="Path-4" points="416 37 433 37 424.5 46"/>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="instagram-icon" viewBox="0 0 20 20"><g id="_ICON-_-social-instagram" data-name="$ICON-/-social-instagram"><path id="icon-social-instagram" class="cls-1" d="M14.1.2H5.5A5.31,5.31,0,0,0,.2,5.5v8.6a5.31,5.31,0,0,0,5.3,5.3h8.6a5.31,5.31,0,0,0,5.3-5.3V5.5A5.31,5.31,0,0,0,14.1.2Zm3.6,13.9a3.61,3.61,0,0,1-3.6,3.6H5.5a3.61,3.61,0,0,1-3.6-3.6V5.5A3.61,3.61,0,0,1,5.5,1.9h8.6a3.61,3.61,0,0,1,3.6,3.6v8.6ZM9.64,4.76a4.88,4.88,0,1,0,4.88,4.88A4.89,4.89,0,0,0,9.64,4.76Zm0,8.08a3.2,3.2,0,1,1,3.2-3.2A3.2,3.2,0,0,1,9.64,12.84Z"/><path id="Path" class="cls-1" d="M14.84,3.45a1.31,1.31,0,0,0-1.3,1.31,1.3,1.3,0,0,0,1.3,1.3,1.31,1.31,0,0,0,1.31-1.3,1.33,1.33,0,0,0-1.31-1.31Z"/></g></symbol><symbol id="logo-icon" viewBox="0 0 228 20">
	<g id="icon-logo">
		<path id="Combined-Shape" class="cls-1" d="M158,16.54H155.4v-.92H158V12.92h.9V15.6h2.62v.93h-2.62v2.69H158Z"/>
		<path id="Fill-6" class="cls-1" d="M7.71,15.7A7.7,7.7,0,0,1,0,7.92,7.7,7.7,0,0,1,7.71.14a6.65,6.65,0,0,1,5.55,2.95L11.64,4.56A5,5,0,0,0,7.57,2.31c-2.7,0-5,2.48-5,5.61s2.29,5.61,5,5.61a4.81,4.81,0,0,0,4.07-2.23l1.62,1.45A6.44,6.44,0,0,1,7.71,15.7"/>
		<polyline id="Fill-7" class="cls-1" points="31.34 10.13 29.08 4.3 24.71 15.6 22.11 15.6 28.2 0.24 29.96 0.24 36.03 15.6 33.43 15.6 32.16 12.3"/>
		<polyline id="Fill-8" class="cls-1" points="134.93 0.24 128.84 15.6 131.44 15.6 135.81 4.3 138.07 10.13 138.88 12.3 140.16 15.6 142.76 15.6 136.69 0.24 134.93 0.24"/>
		<polyline id="Fill-9" class="cls-1" points="55.26 15.6 45.6 15.6 45.6 0.24 48.13 0.24 48.13 13.43 55.26 13.43 55.26 15.6"/>
		<polyline id="Fill-10" class="cls-1" points="98.64 15.6 88.13 15.6 88.13 0.24 98.26 0.24 98.26 2.41 90.67 2.41 90.67 6.55 96.88 6.55 96.88 8.74 90.67 8.74 90.67 13.43 98.64 13.43 98.64 15.6"/>
		<path id="Fill-11" class="cls-1" d="M117,10.73l3.21,4.87h-2.87l-2.88-4.36h-3.09V15.6H108.8V.24h5.87A5.39,5.39,0,0,1,120,5.73a5.44,5.44,0,0,1-3.07,5m-2.38-1.66c1.7,0,2.92-1.39,2.92-3.34a3,3,0,0,0-2.92-3.32h-3.25V9.07h3.25"/>
		<path id="Fill-12" class="cls-1" d="M70.94.14H65.05V15.5h5.89c4,0,7.09-3.44,7.09-7.68A7.38,7.38,0,0,0,70.94.14m-.3,13.19H67.19v-11h3.45c2.48,0,4.85,2.15,4.85,5.51s-2.36,5.51-4.85,5.51"/>
		<polyline id="Fill-13" class="cls-1" points="201.09 0 195 15.36 197.6 15.36 201.97 4.05 204.22 9.89 205.04 12.06 206.32 15.36 208.92 15.36 202.85 0 201.09 0"/>
		<polyline id="Fill-14" class="cls-1" points="176.4 0 176.4 15.36 186.06 15.36 186.06 13.19 178.94 13.19 178.94 0 176.4 0"/><path id="Fill-15" class="cls-1" d="M227.73,10.72a4.49,4.49,0,0,1-4.54,4.63h-6V0h5.92a3.78,3.78,0,0,1,3.74,3.83,3.51,3.51,0,0,1-1.46,2.9A4.26,4.26,0,0,1,227.73,10.72Zm-4.82-4.91A1.69,1.69,0,0,0,224.32,4c0-1-.54-1.8-1.47-1.8h-3.12V5.81Zm2.29,4.77a2.4,2.4,0,0,0-2-2.6h-3.42v5.2h3.32A2.37,2.37,0,0,0,225.2,10.58Z"/>
	</g>
</symbol><symbol id="more-options-icon" viewBox="0 0 23 5">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>more-options-icon</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="more-options-icon" fill="#777770">
            <circle id="Oval" cx="2.5" cy="2.5" r="2.5"/>
            <circle id="Oval-Copy" cx="11.5" cy="2.5" r="2.5"/>
            <circle id="Oval-Copy-2" cx="20.5" cy="2.5" r="2.5"/>
        </g>
    </g>
</symbol><symbol id="orange-link-arrow-icon" viewBox="0 0 6 10">
    <!-- Generator: sketchtool 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>3B478FEB-C4C8-4875-83CA-B6AD065B46E4</title>
    <desc>Created with sketchtool.</desc>
    <g id="PDP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1-PDP-A-Subscribe-Copy" transform="translate(-857.000000, -624.000000)" fill="#AF5D00" fill-rule="nonzero">
            <g id="Ingredient-Modal" transform="translate(293.000000, 156.000000)">
                <path d="M568.127911,472.999716 L564.234317,469.297567 C563.921894,469.000507 563.921894,468.509684 564.234317,468.212623 C564.532474,467.929126 565.004099,467.929126 565.302257,468.212623 L569.767417,472.458235 C570.079369,472.754848 570.077481,473.250218 569.765434,473.541293 L565.307045,477.780344 C565.16125,477.924302 564.965974,478 564.767295,478 C564.571017,478 564.378435,477.923938 564.234317,477.786905 C563.921894,477.489845 563.921894,476.999022 564.234317,476.701961 L568.127961,472.999764 L568.509048,473.362114 L568.509048,472.637415 L568.127961,472.999764 Z" id="icon-orange-link-arrow"/>
            </g>
        </g>
    </g>
</symbol><symbol id="pagination-left-arrow" viewBox="0 0 15 14">
    <g id="pagination-left" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
        <g id="1_Press" transform="translate(-566.000000, -1909.000000)" fill="#B5A98F">
            <g id="pagination-copy" transform="translate(566.000000, 1893.000000)">
                <g id="left-arrow-copy" transform="translate(153.500000, 23.000000) scale(-1, 1) translate(-153.500000, -23.000000) translate(0.000000, 16.000000)">
                    <path d="M292.284378,7.7237393 L297.884383,13.6740247 C298.263854,14.01503 298.991505,14.1558001 299.415635,13.7615248 C299.833395,13.3731994 299.82097,12.6200687 299.404785,12.2302034 L295.467281,8.05186459 L305.475033,8.05186459 C306.054913,8.05186459 306.525034,7.58174417 306.525034,7.00182864 C306.525034,6.42191312 306.054913,5.95180669 305.475033,5.95180669 L295.467281,5.95180669 L299.404785,1.7734679 C299.76308,1.41454258 299.8293,0.634916873 299.415635,0.242146517 C299.002075,-0.150588839 298.248279,-0.0251137251 297.884383,0.329681596 L292.284378,6.27991799 C292.092753,6.48354817 291.999373,6.72245839 292.000003,7.00182864 C292.009803,7.25207887 292.112808,7.54131913 292.284378,7.7237393 Z" id="icon-left-arrow" transform="translate(299.262517, 7.000000) scale(-1, 1) translate(-299.262517, -7.000000) "/>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="pagination-right-arrow" viewBox="0 0 15 14">
    <g id="pagination-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1_Press" transform="translate(-858.000000, -1909.000000)" fill="#AF5D00">
            <g id="pagination-copy" transform="translate(566.000000, 1893.000000)">
                <g id="left-arrow-copy" transform="translate(153.500000, 23.000000) scale(-1, 1) translate(-153.500000, -23.000000) translate(0.000000, 16.000000)">
                    <path d="M0.284378424,7.7237393 L5.8843835,13.6740247 C6.26385384,14.01503 6.9915045,14.1558001 7.41563489,13.7615248 C7.83339526,13.3731994 7.82097025,12.6200687 7.40478488,12.2302034 L3.46728131,8.05186459 L13.4750329,8.05186459 C14.0549134,8.05186459 14.5250338,7.58174417 14.5250338,7.00182864 C14.5250338,6.42191312 14.0549134,5.95180669 13.4750329,5.95180669 L3.46728131,5.95180669 L7.40478488,1.7734679 C7.7630802,1.41454258 7.82930026,0.634916873 7.41563489,0.242146517 C7.00207451,-0.150588839 6.24827883,-0.0251137251 5.8843835,0.329681596 L0.284378424,6.27991799 C0.0927532503,6.48354817 -0.000626834309,6.72245839 3.16626207e-06,7.00182864 C0.00980317514,7.25207887 0.112808268,7.54131913 0.284378424,7.7237393 Z" id="icon-right-arrow"/>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="play-icon" viewBox="0 0 38 38">
    <!-- Generator: sketchtool 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>B9932BA9-4847-48CF-91AE-2F8539F25220</title>
    <desc>Created with sketchtool.</desc>
    <g id="How-To-Use-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="How-To-Use---Editorial" transform="translate(-272.000000, -4102.000000)">
            <g id="Video-Preview-Tile" transform="translate(89.000000, 4007.000000)">
                <g id="Icon-Play-Video" transform="translate(183.508929, 95.484127)">
                    <ellipse id="Oval-2" stroke="#FFFFFF" stroke-width="0.894325665" cx="18.4408482" cy="18.4662698" rx="18.4408482" ry="18.4662698"/>
                    <polygon id="Path-2" fill="#FFFFFF" points="13.2395833 10.4168702 13.2395833 25.9130407 27.4248512 18.1649554"/>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="plus-icon" viewBox="0 0 13 13"><g id="_" data-name="+"><polygon class="cls-1" points="7.5 13 5.5 13 5.5 7.03 0 7.03 0 5.41 5.5 5.41 5.5 0 7.5 0 7.5 5.41 13 5.41 13 7.03 7.5 7.03 7.5 13"/></g></symbol><symbol id="press-hero-arrow" viewBox="0 0 32 51">
    <g id="Press-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1_Press" transform="translate(-704.000000, -445.000000)" stroke="#F1F1F1" stroke-width="2">
            <g id="arrow" transform="translate(705.000000, 445.000000)">
                <path d="M15,0 L15,48.078125" id="Path-2"/>
                <polyline id="Path-3" points="0 33 14.9140187 49 30 33"/>
            </g>
        </g>
    </g>
</symbol><symbol id="question-icon" viewBox="0 0 15 15">
    <!-- Generator: sketchtool 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>75F33823-AE1C-4098-9A34-DAC431BF5C7B</title>
    <desc>Created with sketchtool.</desc>
    <g id="PDP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1-PDP-A" transform="translate(-1237.000000, -470.000000)">
            <g id="Buying-options-Copy" transform="translate(931.000000, 408.000000)">
                <g id="Icon-Question-Mark" transform="translate(307.000000, 63.000000)">
                    <circle id="Oval-3" stroke="#AF5D00" stroke-width="1.17" cx="6.3" cy="6.3" r="6.3"/>
                    <path d="M5.751,8.119 L5.823,7.624 C5.84100009,7.49199934 5.86349986,7.37950046 5.8905,7.2865 C5.91750014,7.19349953 5.95499976,7.10950037 6.003,7.0345 C6.05100024,6.95949962 6.11099964,6.88750034 6.183,6.8185 C6.25500036,6.74949965 6.34499946,6.66700048 6.453,6.571 L7.245,5.869 C7.41900087,5.71299922 7.52099985,5.51800117 7.551,5.284 C7.58100015,5.04999883 7.53150065,4.85950073 7.4025,4.7125 C7.27349936,4.56549926 7.09200117,4.492 6.858,4.492 C6.60599874,4.492 6.38550095,4.57749914 6.1965,4.7485 C6.00749906,4.91950085 5.88600027,5.12799877 5.832,5.374 L4.689,5.284 C4.83900075,4.70799712 5.12549788,4.26100159 5.5485,3.943 C5.97150211,3.62499841 6.47099712,3.466 7.047,3.466 C7.31700135,3.466 7.56149891,3.50499961 7.7805,3.583 C7.9995011,3.66100039 8.18399925,3.77349926 8.334,3.9205 C8.48400075,4.06750073 8.59199967,4.2504989 8.658,4.4695 C8.72400033,4.68850109 8.73600021,4.93899859 8.694,5.221 C8.66399985,5.41900099 8.61300036,5.59299925 8.541,5.743 C8.46899964,5.89300075 8.37900054,6.03099937 8.271,6.157 C8.16299946,6.28300063 8.04150067,6.40299943 7.9065,6.517 C7.77149933,6.63100057 7.62900075,6.75099937 7.479,6.877 C7.38299952,6.95500039 7.30200033,7.0239997 7.236,7.084 C7.16999967,7.1440003 7.11300024,7.20549968 7.065,7.2685 C7.01699976,7.33150031 6.97800015,7.40349959 6.948,7.4845 C6.91799985,7.5655004 6.89400009,7.66299943 6.876,7.777 L6.831,8.119 L5.751,8.119 Z M5.391,9.37 C5.42100015,9.17799904 5.51549921,9.01300069 5.6745,8.875 C5.8335008,8.73699931 6.01199901,8.668 6.21,8.668 C6.40200096,8.668 6.56099937,8.73399934 6.687,8.866 C6.81300063,8.99800066 6.86400012,9.15999904 6.84,9.352 C6.80999985,9.54400096 6.71550079,9.70899931 6.5565,9.847 C6.39749921,9.98500069 6.21900099,10.054 6.021,10.054 C5.92499952,10.054 5.83650041,10.0360002 5.7555,10 C5.6744996,9.96399982 5.6040003,9.9160003 5.544,9.856 C5.4839997,9.7959997 5.44050014,9.72400042 5.4135,9.64 C5.38649987,9.55599958 5.37899994,9.46600048 5.391,9.37 Z" id="?" fill="#AF5D00"/>
                </g>
            </g>
        </g>
    </g>
</symbol><symbol id="repeat-icon" viewBox="0 0 16 15"><g fill="none" fill-rule="evenodd" stroke="#AF5D00" stroke-width="1.33" transform="translate(1 1)"><path d="m6.36363636 3.9-1.90909091-1.95 1.90909091-1.95" stroke-linejoin="round"/><path d="m12.7956818 9.45906c.7432727-.75985 1.204-1.807 1.204-2.9588 0-2.5155-1.9918182-4.55-4.45454544-4.55"/><path d="m9.54545455 1.95h-5.0909091"/><path d="m7.63636364 9.1 1.90909091 1.95-1.90909091 1.95" stroke-linejoin="round"/><path d="m1.20431818 3.54094c-.74327272.75985-1.204 1.807-1.204 2.9588 0 2.5155 1.99181818 4.55 4.45454546 4.55"/><path d="m4.45454545 11.05h5.0909091"/></g></symbol><symbol id="star-icon" viewBox="0 0 13 13">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>icon-review-star</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="review-star" fill="#AF5D00">
            <path d="M6.80737644,0.214127205 L8.46096069,4.31823197 L12.6943499,4.69960232 C12.9879646,4.72619328 13.1074123,5.11036268 12.8845321,5.31259393 L9.67345569,8.22990216 L10.6357109,12.5698268 C10.7024415,12.8714242 10.3908096,13.1086436 10.138568,12.9483981 L6.50041568,10.6475802 L2.8622634,12.9483981 C2.60935443,13.1079438 2.29838983,12.8707245 2.36512043,12.5698268 L3.32737568,8.22990216 L0.115631923,5.31189417 C-0.107248279,5.10966292 0.0115321882,4.72549352 0.305814132,4.69890256 L4.53920336,4.31753221 L6.19278762,0.214127205 C6.30756425,-0.0713757351 6.69259981,-0.0713757351 6.80737644,0.214127205 Z" id="icon-review-star"/>
        </g>
    </g>
</symbol><symbol id="twitter-icon" viewBox="0 0 19 16"><g id="_ICON-_-social-twitter" data-name="$ICON-/-social-twitter"><path id="icon-twitter" class="cls-1" d="M18.91,2.6a7.7,7.7,0,0,1-2.2.6A3.84,3.84,0,0,0,18.4,1.08,7.76,7.76,0,0,1,16,2,3.84,3.84,0,0,0,9.32,4.64a3.57,3.57,0,0,0,.1.87,10.94,10.94,0,0,1-7.92-4A3.85,3.85,0,0,0,2.69,6.63,3.94,3.94,0,0,1,1,6.14v.05A3.86,3.86,0,0,0,4,10a4.17,4.17,0,0,1-1,.13A3.38,3.38,0,0,1,2.3,10a3.83,3.83,0,0,0,3.58,2.67,7.75,7.75,0,0,1-4.76,1.64,7,7,0,0,1-.92-.06A10.87,10.87,0,0,0,6.08,16,10.85,10.85,0,0,0,17,5.08l0-.5a7.53,7.53,0,0,0,1.92-2Z"/></g></symbol></svg><!-- endinject -->
</div>
