<?xml version="1.0" encoding="UTF-8"?>
<svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63 (92445) - https://sketch.com -->
    <title>retake icon</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-Results" transform="translate(-627.000000, -680.000000)" fill="#AF5D00" fill-rule="nonzero">
            <g id="results-block" transform="translate(626.000000, 158.000000)">
                <g id="retake-quiz" transform="translate(1.000000, 521.000000)">
                    <g id="retake-icon" transform="translate(0.000000, 1.000000)">
                        <path d="M21.3276528,12.5286883 C21.3276528,12.5286883 21.3276528,12.5515719 21.3276528,12.565302 C21.3276528,12.5790322 21.3276528,12.5881856 21.3276528,12.6019158 C20.4967646,16.0756454 17.629744,19.0413593 14.0231416,20.1580787 C13.7853404,20.2237422 13.5385123,20.0881739 13.4657139,19.8519161 C13.3929155,19.6156582 13.5204741,19.3641528 13.7537878,19.2839254 C17.0271218,18.2633171 19.6658765,15.5584762 20.4237195,12.3913867 C20.4237195,12.3913867 20.4237195,12.3913867 20.4237195,12.3593497 C20.4237195,12.3273127 20.4237195,12.3364661 20.4237195,12.3227359 C20.9801599,9.95504846 20.5622009,7.46247802 19.2641284,5.40731367 C17.9044654,3.23615869 15.7312964,1.70405037 13.2333413,1.1555418 C8.08822627,-0.00236808257 2.95224184,3.12810765 1.77895473,8.13503814 C1.7704529,8.16033488 1.75975972,8.18483747 1.74699749,8.20826564 C1.74946778,8.23567012 1.74946778,8.2632421 1.74699749,8.29064658 C1.19183967,10.6568921 1.60975476,13.1475515 2.90658864,15.2014921 C4.24334657,17.3305088 6.36499283,18.8438795 8.80954675,19.4120735 L7.96952796,18.1031319 C7.84924895,17.891751 7.91501051,17.6229724 8.11920498,17.4913768 C8.32339944,17.3597811 8.59461271,17.4113921 8.73650163,17.6088463 L10.1791426,19.8560153 C10.2449857,19.9595079 10.2665994,20.0851781 10.2391292,20.2047997 C10.211659,20.3244214 10.1374077,20.4279667 10.0330524,20.4921792 L7.75039262,21.9018086 C7.61040345,22.0123893 7.41902277,22.0311922 7.26028213,21.9499613 C7.1015415,21.8687303 7.00446731,21.702319 7.01168297,21.5237952 C7.01889863,21.3452715 7.12908473,21.1872792 7.29386067,21.1191897 L8.62236865,20.3045337 C5.93663919,19.6869008 3.60416408,18.0282058 2.13504965,15.6912011 C0.705754594,13.4295672 0.245013356,10.6862605 0.856760193,8.08011751 C0.865122783,8.05476705 0.875821357,8.03025211 0.888717429,8.00689001 C0.886247144,7.97948553 0.886247144,7.95191355 0.888717429,7.92450907 C2.17613753,2.43244638 7.80061114,-1.00466952 13.4342154,0.263081614 C16.1760054,0.860452878 18.5621605,2.53988137 20.0539287,4.92218146 C21.4809111,7.18305858 21.9399901,9.92461568 21.3276528,12.5286883 Z" id="Path"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>