<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>shipping-box-icon</title>
    <g id="The-Good" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="shipping-box-icon" fill="#AF5D00" fill-rule="nonzero">
            <path d="M5.734375,0 C5.625,0 5.5097655,0.0431745933 5.421875,0.109898325 L0.328125,4.01913876 L7.8125,4.01913876 L12.359375,0 L5.734375,0 Z M13.875,0 L9.328125,4.01913876 L15.296875,4.01913876 L19.3125,0 L13.875,0 Z M20,0.737888756 L16,4.72562799 L16,18.7612141 L19.890625,13.8785885 C19.9609375,13.7883151 20,13.6784168 20,13.5645933 L20,0.737888756 Z M0,5.02392344 L0,18.5885167 C0,18.8671878 0.2246095,19.0909091 0.5,19.0909091 L15,19.0909091 L15,5.02392344 L0,5.02392344 Z M5.5,7.03349282 L10.5,7.03349282 C10.777344,7.03349282 11,7.25917701 11,7.53588517 C11,7.81259333 10.777344,8.03827751 10.5,8.03827751 L5.5,8.03827751 C5.2246095,8.03827751 5,7.81259333 5,7.53588517 C5,7.25917701 5.2246095,7.03349282 5.5,7.03349282 Z" id="Shape"></path>
        </g>
    </g>
</svg>