<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>+</title>
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="AvenirLTPro-Book, Avenir LT Pro" font-size="30" font-weight="300" letter-spacing="0.642857143" line-spacing="30">
        <g id="the-deep-desktop" transform="translate(-1291.000000, -1163.000000)" fill="#3D3D38">
            <g id="Accordion-" transform="translate(794.000000, 1019.547112)">
                <g id="how-to-use" transform="translate(0.000000, 136.452888)">
                    <text id="+">
                        <tspan x="495" y="23">+</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>