<svg width="15px" height="3px" viewBox="0 0 15 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Rectangle</title>
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="the-deep-desktop" transform="translate(-1288.000000, -1066.000000)" fill="#3D3D38">
            <rect id="Rectangle" x="1288" y="1066" width="15" height="2.2"></rect>
        </g>
    </g>
</svg>