<?xml version="1.0" encoding="UTF-8"?>
<svg class="stroke" width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63 (92445) - https://sketch.com -->
    <title>normal icon</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD-Step-1a" transform="translate(-763.000000, -518.000000)" stroke="#3D3D38" stroke-width="1.25">
            <g id="Step1A" transform="translate(453.000000, 324.000000)">
                <g id="btn_Selections" transform="translate(0.000000, 161.000000)">
                    <g id="Normal" transform="translate(272.000000, 0.000000)">
                        <circle id="normal-icon" cx="64" cy="59" r="24.625"></circle>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>