<svg width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Path Copy 5</title>
    <g id="Combo-PDP-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1267.000000, -342.000000)" fill="#B9680C" fill-rule="nonzero" id="Group-20">
            <g transform="translate(97.141358, 167.000000)">
                <path d="M1184.15864,175.8 L1174.85864,185.1 L1171.55864,181.8 C1171.15864,181.4 1170.55864,181.4 1170.15864,181.8 C1169.75864,182.2 1169.75864,182.8 1170.15864,183.2 L1174.15864,187.2 C1174.35864,187.4 1174.55864,187.5 1174.85864,187.5 C1175.15864,187.5 1175.35864,187.4 1175.55864,187.2 L1185.55864,177.2 C1185.95864,176.8 1185.95864,176.2 1185.55864,175.8 C1185.15864,175.4 1184.55864,175.4 1184.15864,175.8 Z" id="Path-Copy-5"></path>
            </g>
        </g>
    </g>
</svg>