<?xml version="1.0" encoding="UTF-8"?>
<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63 (92445) - https://sketch.com -->
    <title>Path</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD-Step-0" transform="translate(-1061.000000, -287.000000)" fill="#AF5D00" fill-rule="nonzero">
            <path d="M1068.84292,296 L1061.23964,288.396724 C1060.92012,288.077204 1060.92012,287.55916 1061.23964,287.23964 C1061.55916,286.92012 1062.0772,286.92012 1062.39672,287.23964 L1070,294.842916 L1077.60328,287.23964 C1077.9228,286.92012 1078.44084,286.92012 1078.76036,287.23964 C1079.07988,287.55916 1079.07988,288.077204 1078.76036,288.396724 L1071.15708,296 L1078.76036,303.603276 C1079.07988,303.922796 1079.07988,304.44084 1078.76036,304.76036 C1078.44084,305.07988 1077.9228,305.07988 1077.60328,304.76036 L1070,297.157084 L1062.39672,304.76036 C1062.0772,305.07988 1061.55916,305.07988 1061.23964,304.76036 C1060.92012,304.44084 1060.92012,303.922796 1061.23964,303.603276 L1068.84292,296 Z" id="Path"></path>
        </g>
    </g>
</svg>