<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>6CA74A0A-0FA5-4ED4-8BFF-680D46BD3CAF</title>
    <g id="ðŸ“-Skin-Quiz" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="2---Skin-Quiz---Quick-Wins---Desktop" transform="translate(-564.000000, -569.000000)" fill="#B9680C">
            <g id="Group" transform="translate(399.000000, 203.000000)">
                <g id="Buttons" transform="translate(165.000000, 346.000000)">
                    <g id="back" transform="translate(0.000000, 19.000000)">
                        <path d="M6.852,2.1144 L12.9376,8.2 L0,8.2 L0,9.8 L12.9376,9.8 L6.8688,15.8688 L8,17 C10.9288,14.0712 13.1968,11.8032 16,9 C12.8272,5.8272 15.0672,8.0672 8,1 L6.852,2.1144 Z" id="arrow_back" transform="translate(8.000000, 9.000000) rotate(180.000000) translate(-8.000000, -9.000000) "></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>