<div class="page page-refer">
	<img src="{{'swell-campaign4.svg' | asset_url}}">
	<h4>Give $20 ,Get $20</h4>
	<p>Refer a Friend</p>
	<input type="button" value="START REFERRING NOW" onclick="window.location.href='../pages/referral'">
</div>