<!-- /templates/404.json -->
<div class="content__404">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item one-whole text-center">
                <span class="pre-header text--light">{{ settings.preheader_404 }}</span>
                <h1 class="text--light">{{ settings.title_404 }}</h1>
                <a href="#" class="btn btn--secondary" data-404-back>Go Back</a>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "404",
    "settings": []
}
{% endschema %}