<div class="c-certHero">
    <div class="c-certHero__image c-certHero__image--desktop" style="background-image: url({{ section.settings.hero_image | img_url: 'master' }});"></div>
    <div class="c-certHero__image c-certHero__image--mobile" style="background-image: url({{ section.settings.hero_mobile_image | img_url: 'master' }});"></div>
    <h1 class="c-certHero__title">{{ page.title }}</h1>
</div>

{% schema %}
  {
    "name": "Certification Hero",
    "settings": [
      {
        "type":"image_picker",
        "id":"hero_image",
        "label":"Hero Desktop"
      },
      {
        "type":"image_picker",
        "id":"hero_mobile_image",
        "label":"Hero Mobile"
      }
    ]
  }
{% endschema %}