{% form 'reset_customer_password' %}
    <div class="accountPage__main">
        <div class="wrapper">
            <div class="account__row">
                <div class="account__col account__colReset account__form">
                    <div class="reset-form">
                        <h4 class="account__heading">Reset Password</h4>
                        {{ form.errors | default_errors }}
                        {%comment%}
                        {{ form.errors | default_errors }}
                        <label for="ResetPassword">New Password</label>
                        <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="Password">
                        <label for="PasswordConfirmation">Confirm Password</label>
                        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="Confirm Password">
                        <input type="submit" class="btn btn--full" value="Reset Password">
                        {%endcomment%}
                        <div class="accountForm__fieldMain">
                            <div class="accountError__message"></div>
                            <div class="accountForm__fields">
                                <input type="password" value="" name="customer[password]" id="ResetPassword" class="password input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="Password">
                                <label for="ResetPassword">New Password</label>
                                <span class="togglePassword">
                          {% include 'icon-eye' %}
                                    {% include 'icon-eye-close' %}
                      </span>
                            </div>
                        </div>

                        <div class="accountForm__fieldMain">
                            <div class="accountError__message"></div>
                            <div class="accountForm__fields">
                                <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="password input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="Confirm Password">
                                <label for="PasswordConfirmation">Confirm Password</label>
                                <span class="togglePassword">
                          {% include 'icon-eye' %}
                                    {% include 'icon-eye-close' %}
                      </span>
                            </div>
                        </div>
                        <div class="accountForm__button">
                            <input type="submit" class="btn btn--primary" value="Reset Password" id="reset-btn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endform %}

{% schema %}
{
    "name": "Reset Password",
    "settings": []
}
{% endschema %}