{%- assign travelSize = section.settings.travel-size -%}
{%- assign travelProduct = all_products[section.settings.travel-product] -%}
{%- assign travelProductImage = travelProduct.featured_image | default: travelProduct.featured_image -%}
{% if section.settings.travel-size == true %}
<div class="c-pdpTravelSize">
    <div class="c-pdpTravelSize__image">
        <img src="{{ travelProductImage | img_url: 'master' }}">
    </div>
    <div class="c-pdpTravelSize__copy">
        {{ section.settings.travel-copy }}   
    </div>
    <div class="c-pdpTravelSize__icon">
        <svg width="64px" height="70px" viewBox="0 0 64 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Free-travel-size-PDP" transform="translate(-1226.000000, -982.000000)" fill="#3D3D38" fill-rule="nonzero" stroke="#3D3D38" stroke-width="0.25">
                    <g id="free-travel-size" transform="translate(795.000000, 966.000000)">
                        <path d="M493.074627,32.6666576 L489.604478,32.6666576 L475.191791,32.6666576 C476.829701,32.0303212 478.235343,31.329147 479.093164,30.7317133 C482.502239,28.3586509 483.346179,23.6495764 480.973522,20.2354047 C479.56603,18.2096875 477.250746,17 474.782776,17 C473.24203,17 471.755881,17.4668319 470.486269,18.3504781 C468.461552,19.7602365 464.657343,23.9552401 462.999075,27.7408396 C461.340806,23.9561664 457.536597,19.7611627 455.511881,18.3504781 C454.242269,17.4668319 452.757045,17 451.215373,17 C448.747403,17 446.43397,18.2096875 445.024627,20.2354047 C443.875313,21.8896941 443.437612,23.8913286 443.792955,25.8744381 C444.148299,27.8566214 445.253194,29.581306 446.904985,30.7317133 C447.762806,31.329147 449.168448,32.0303212 450.806358,32.6666576 L432.925373,32.6666576 C432.414567,32.6666576 432,33.0816193 432,33.5929114 L432,47.4876454 C432,47.9989375 432.414567,48.4138993 432.925373,48.4138993 L435.470149,48.4138993 L435.470149,84.0737462 C435.470149,84.5859645 435.884716,85 436.395522,85 L489.604478,85 C490.116209,85 490.529851,84.5859645 490.529851,84.0737462 L490.529851,48.4138993 L493.074627,48.4138993 C493.586358,48.4138993 494,47.9989375 494,47.4876454 L494,33.5929114 C494,33.0816193 493.585433,32.6666576 493.074627,32.6666576 Z M447.963612,29.2108045 C446.71806,28.3429046 445.884299,27.0424442 445.61594,25.5465443 C445.347582,24.0506443 445.67794,22.5408505 446.545015,21.2931866 C447.607343,19.7648677 449.354448,18.8525077 451.216299,18.8525077 C452.377642,18.8525077 453.498269,19.2044842 454.455104,19.8713869 C457.506985,21.9971395 463.242448,29.690604 461.730388,31.8682268 C461.372269,32.3832239 460.44597,32.6666576 459.122687,32.6666576 C455.526687,32.6666576 449.960567,30.6020378 447.963612,29.2108045 Z M462.074627,83.1474923 L437.320896,83.1474923 L437.320896,48.4138993 L462.074627,48.4138993 L462.074627,83.1474923 Z M462.074627,46.5613916 L436.395522,46.5613916 L433.850746,46.5613916 L433.850746,34.5191653 L462.074627,34.5191653 L462.074627,46.5613916 Z M471.54397,19.8723132 C472.500806,19.2054104 473.621433,18.8534339 474.782776,18.8534339 C476.646478,18.8534339 478.391731,19.765794 479.454985,21.2941128 C481.244657,23.8690985 480.608,27.421282 478.036388,29.2117307 C476.039433,30.602964 470.472388,32.6675838 466.876388,32.6675838 C465.552179,32.6675838 464.625881,32.3841502 464.268687,31.8700793 C462.755701,29.6915302 468.491164,21.9971395 471.54397,19.8723132 Z M488.679104,83.1474923 L463.925373,83.1474923 L463.925373,48.4138993 L488.679104,48.4138993 L488.679104,83.1474923 Z M492.149254,46.5613916 L463.925373,46.5613916 L463.925373,34.5191653 L492.149254,34.5191653 L492.149254,46.5613916 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Free Travel Size",
    "settings": [
        {
            "type":"checkbox",
            "id":"travel-size",
            "label":"Enable Travel Size",
            "default": false
        },
        {
            "type":"product",
            "id":"travel-product",
            "label":"Travel Product"
        },
        {
            "type":"richtext",
            "id":"travel-copy",
            "label":"Travel Copy"
        }
    ]
  }
{% endschema %}