<div class="QuizPage_wrapper">
    <div class="QuizPage_subwrapper">
        <div class="QuizPage_step QuizPage_step1" data-step-one data-question-id="5349c0f8-f73e-42b1-a373-5d54e2c1ef80">
                <h4 class="QuizPage_step-title">What Is Your Skin Type?</h4>
                <h3 class="QuizPage_step-subtitle">Let’s identify your natural skin state.</h3>
                <div class="QuizPage-options1">
                    <div class="QuizPage-option">
                        <div class="QuizPage-option-subwrapper" data-id="90b6bce2-dffe-459a-b6cf-78afb8dd3b0e">
                            <img  class="QuizPage-option-image">
                                {% render 'quizPage-oily' %}
                            </img>
                            <h4 class="QuizPage-option-title">Oily</h4>
                        </div>
                        <div class="QuizPage-option-subwrapper" data-id="1d94ee92-b869-4eb4-8c9f-ac3a8463ebc9">
                            <img  class="QuizPage-option-image">
                                {% render 'quizPage-normal' %}
                            </img>
                        <h4 class="QuizPage-option-title">Normal</h4>
                        </div>
                        <div class="QuizPage-option-subwrapper" data-id="d69e7ede-ce08-4521-a586-316373f8ba73">
                            <img  class="QuizPage-option-image">
                                {% render 'quizPage-drySkin' %}
                            </img>
                        <h4 class="QuizPage-option-title">Dry</h4>
                        </div>
                    </div>
                    <div class="QuizPage_next-button">
                        Next
                    </div>
                 
                </div>
                <div class="QuizPage_step-counter">
                    <div class="QuizPage_step-counter-line">
                        <div class="QuizPage_step-counter-line-fill">
        
                            </div>
                    </div>
                    <h4 class="QuizPage_step-counter-text">Step 1 of 5</h4>
                </div>
        </div>
      
        <div class="QuizPage_step QuizPage_step2 QuizPage-hidden" data-step-two data-question-id="b7bdfa55-40f8-444e-b515-ff1d93932456">
            <h4 class="QuizPage_step-title ">What Are Your Skin Concerns?</h4>
            <h3 class="QuizPage_step-subtitle">We’ve all got ‘em. Select all that apply.</h3>
            <div class="QuizPage_step2-options">
                <div class="QuizPage_step2-option" data-id="90e6d52f-e549-4b74-b959-14acc74cb860">
                    Dark Spots / Sun Damage
                </div>
                <div class="QuizPage_step2-option" data-id="7119e232-e1a6-4162-9172-50049647fdfe">
                    Uneven Skin Tone
                </div>
                <div class="QuizPage_step2-option" data-id="1fb14060-bc2b-405a-852e-645fd71b1dee">
                    Aging
                </div>
                <div class="QuizPage_step2-option" data-id="e192535e-4375-48a7-b463-3117c90be2fd">
                    Wrinkles & Fine Lines
                </div>               
                <div class="QuizPage_step2-option" data-id="f87a773f-2bb8-463a-9757-c4e59d062755">
                    Dullness
                </div>              
            </div>
            <div class="QuizPage_buttons">
                <div class="QuizPage_back-button">
                    {% include 'quizPage-arrow' %}<p> Back</p>
                 </div>
                 <div class="QuizPage_next-button">
                     Next
                 </div>
            </div> 
            <div class="QuizPage_step-counter">
                <div class="QuizPage_step-counter-line">
                    <div class="QuizPage_step-counter-line-fill">
    
                        </div>
                </div>
                <h4 class="QuizPage_step-counter-text">Step 2 of 5</h4>
            </div>        
        </div>
        <div class="QuizPage_step QuizPage_step3 QuizPage-hidden" data-step-three data-question-id="f505a283-8b4a-42a7-9efc-0d2fe7ada59a">
            <h4 class="QuizPage_step-title QuizPage_step-title2">What Climate Do You Spend Most Of Your Time In?</h4>
            <h3 class="QuizPage_step-subtitle">Your environment impacts your microbiome.</h3>
            <div class="QuizPage_step3-options">
                <div class="QuizPage_step3-option" data-id="fc9f23f0-ec96-4890-9080-63a67a5a1881">
                    <img  class="QuizPage-option-image">
                        {% render 'quizPage-humid' %}
                    </img>
                <h4 class="QuizPage-option-title">Humid</h4>
                </div>
                <div class="QuizPage_step3-option" data-id="683af93a-057e-4fa8-aefd-a4ec52efef90">
                    <img  class="QuizPage-option-image">
                        {% render 'quizPage-cold' %}
                    </img>
                <h4 class="QuizPage-option-title">Cold</h4>
                </div>
                <div class="QuizPage_step3-option" data-id="b6d38bd0-e9cf-4912-9cad-24a178ffe4eb">
                    <img  class="QuizPage-option-image">
                        {% render 'quizPage-mild' %}
                    </img>
                <h4 class="QuizPage-option-title">Mild</h4>
                </div>
                <div class="QuizPage_step3-option" data-id="331cf27a-98f7-4391-8a79-aea256b7bcb4">
                    <img  class="QuizPage-option-image">
                        {% render 'quizPage-dry' %}
                    </img>
                <h4 class="QuizPage-option-title">Dry</h4>
                </div>
            </div>
            <div class="QuizPage_buttons">
                <div class="QuizPage_back-button">
                    {% include 'quizPage-arrow' %}<p> Back</p>
                 </div>
                 <div class="QuizPage_next-button">
                     Next
                 </div>
            </div> 
            <div class="QuizPage_step-counter">
                <div class="QuizPage_step-counter-line">
                    <div class="QuizPage_step-counter-line-fill">
    
                        </div>
                </div>
                <h4 class="QuizPage_step-counter-text">Step 3 of 5</h4>
            </div>    
        </div>
        <div class="QuizPage_step QuizPage_step4 QuizPage-hidden" data-step-four data-question-id="457d3e4a-4bc7-418a-9e4e-0055b4867ae9">
            <h4 class="QuizPage_step-title">Which Age Range Are You In?</h4>
            <h3 class="QuizPage_step-subtitle">Your skin’s needs change over time.</h3>
            <div class="QuizPage_step4-options">
                <div class="QuizPage_step4-option" data-id="f2d5ee34-1eea-4637-a3f7-81a26d9523dd">
                    18 - 24 Years Old
                </div>
                <div class="QuizPage_step4-option" data-id="58f72a0f-1ed1-466b-887d-2694c4289f2b">
                    45 - 54 Years Old
                </div>
                <div class="QuizPage_step4-option" data-id="b8776237-c817-42ba-b669-114ffbb9b8f6">
                    25 - 34 Years Old
                </div>
                <div class="QuizPage_step4-option" data-id="c2c53cab-9b3c-4037-beeb-7c677085adc4">
                    55 - 64 Years Old
                </div>
                <div class="QuizPage_step4-option" data-id="c5670f74-453b-42f5-bff5-85498d4cc5a9">
                    35 - 44 Years Old
                </div>   
                <div class="QuizPage_step4-option" data-id="ea65250c-89dc-40c7-9723-2a75d69cfe46">
                    65+ Years Old
                </div>
            </div>
            <div class="QuizPage_buttons">
                <div class="QuizPage_back-button">
                    {% include 'quizPage-arrow' %}<p> Back</p>
                 </div>
                 <div class="QuizPage_next-button">
                     Next
                 </div>
            </div> 
            <div class="QuizPage_step-counter">
                <div class="QuizPage_step-counter-line">
                    <div class="QuizPage_step-counter-line-fill">
    
                        </div>
                </div>
                <h4 class="QuizPage_step-counter-text">Step 4 of 5</h4>
            </div>    
        </div>
        <div class="QuizPage_step QuizPage_step5 QuizPage-hidden">
            <h4 class="QuizPage_step-title">Receive 10% Off </h4>
            <h3 class="QuizPage_step-subtitle">Receive 10% off your first order when you sign up with your email</h3>
            <div class="QuizPage_step_form">
                <div class="klaviyo-form-W5KhLc"></div>
            </div>
            <div class="QuizPage_next-button QuizPage_next-button-discount-wrap QuizPage_next-button-approved">
              <a class="QuizPage_next-button-discount">APPLY DISCOUNT</a> 
            </div>
            <a  class="QuizPage_next-button-results">
                  <p>Skip To Results </p><span>{% include 'quizPage-arrow' %}</span>
            </a>
            <div class="QuizPage_step-counter">
                <div class="QuizPage_step-counter-line">
                    <div class="QuizPage_step-counter-line-fill">
    
                        </div>
                </div>
                <h4 class="QuizPage_step-counter-text">Step 5 of 5</h4>
            </div>
        </div>
    </div>
</div>
<div class="QuizPage_loader">
    <div class="QuizPage_loader-animation">
        <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <p class="QuizPage_loader-text">Calculating your results. . .</p>
</div>
<style>
    .promo-bar{
        background-color: #3d3d38;
    }
    .nav-desktop{
        background: #fff;
        color: #3d3d38;
    }
    .nav-desktop__logo .icon{
        fill: #3d3d38;
    }
    .nav-desktop__cart-trigger .icon{
        fill: #3d3d38;
    }
    #shopify-section-mega-menu{
        background-color: white;
    }
@media (max-width:1024px){
    .nav-mobile__logo .icon{
        fill: #3d3d38;
    }
    .nav-mobile__cart-trigger .icon{
        fill: #3d3d38;
    }
    .nav-mobile__trigger span:after{
        background-color: #3d3d38;
    }
    .nav-mobile__trigger span:before{
        background-color: #3d3d38;
    }
    .nav-mobile__trigger span{
        background-color: #3d3d38;
    }
}
</style>
<script>
    (function(){
        let loader = document.querySelector(".QuizPage_loader");
  let options1 = document.querySelectorAll(".QuizPage-option-subwrapper");
  let options2 = document.querySelectorAll(".QuizPage_step2-option");
  let options3 = document.querySelectorAll(".QuizPage_step3-option");
  let options4 = document.querySelectorAll(".QuizPage_step4-option");
  let step1 = document.querySelector(".QuizPage_step1");
  let step2 = document.querySelector(".QuizPage_step2");
  let step3 = document.querySelector(".QuizPage_step3");
  let step4 = document.querySelector(".QuizPage_step4");
  let step5 = document.querySelector(".QuizPage_step5");
  let buttonsNext = document.querySelectorAll(".QuizPage_next-button");
  let buttonsBack = document.querySelectorAll(".QuizPage_back-button");
  localStorage.setItem('quizStep', "one");
  for(let i = 0; i < options1.length; i++){
      options1[i].addEventListener('click',()=>{
          for(let a=0;a<3;a++){
            options1[a].classList.remove("QuizPage_selected1") 
          }
          options1[i].classList.add("QuizPage_selected1");
          buttonsNext[0].classList.add("QuizPage_next-button-approved");
          localStorage.setItem('quizAnswerOneText', options1[i].innerText);
          localStorage.setItem('quizAnswerOne', options1[i].dataset.id);
      })
  }
  
    buttonsNext[0].addEventListener("click", ()=>{
      step1.classList.remove("QuizPage-visible");
      step1.classList.add("QuizPage-hidden");
      step2.classList.add("QuizPage-visible");
      localStorage.setItem('quizStep', "two");
    
  })
let answersTwo = [];
  for(let e = 0; e < options2.length; e++){
    
    options2[e].addEventListener('click',()=>{
        if(options2[e].classList.contains("QuizPage_selected2")){
          options2[e].classList.remove("QuizPage_selected2") 
          const index = answersTwo.indexOf(options2[e].innerText);
          answersTwo.splice(index, 1); 
        }else{
          answersTwo.push(options2[e].innerText);
          options2[e].classList.add("QuizPage_selected2") 
        }
       
        buttonsNext[1].classList.add("QuizPage_next-button-approved");
     
        localStorage.setItem('quizAnswerTwoText', answersTwo);
        localStorage.setItem('quizAnswerTwo', options2[e].dataset.id);
    })
}
buttonsBack[0].addEventListener("click", ()=>{
  step2.classList.remove("QuizPage-visible");
      step2.classList.add("QuizPage-hidden");
      step1.classList.add("QuizPage-visible");
})

buttonsNext[1].addEventListener("click", ()=>{
  step2.classList.remove("QuizPage-visible");
  step2.classList.add("QuizPage-hidden");
  step3.classList.add("QuizPage-visible");
  localStorage.setItem('quizStep', "three");
})

for(let c = 0; c < options3.length; c++){
  options3[c].addEventListener('click',()=>{
      for(let a=0;a<4;a++){
        options3[a].classList.remove("QuizPage_selected1") 
      }
      options3[c].classList.add("QuizPage_selected1") ;
      buttonsNext[2].classList.add("QuizPage_next-button-approved");
      localStorage.setItem('quizAnswerThreeText', options3[c].innerText);
      localStorage.setItem('quizAnswerThree', options3[c].dataset.id);
  })
}

buttonsBack[1].addEventListener("click", ()=>{
  step3.classList.remove("QuizPage-visible");
      step3.classList.add("QuizPage-hidden");
      step2.classList.add("QuizPage-visible");
})

buttonsNext[2].addEventListener("click", ()=>{
  step3.classList.remove("QuizPage-visible");
  step3.classList.add("QuizPage-hidden");
  step4.classList.add("QuizPage-visible");
  localStorage.setItem('quizStep', "four");
})

for(let b = 0; b < options4.length; b++){
  options4[b].addEventListener('click',()=>{
      for(let a=0;a<6;a++){
        options4[a].classList.remove("QuizPage_selected2") 
      }
      options4[b].classList.add("QuizPage_selected2") 
      buttonsNext[3].classList.add("QuizPage_next-button-approved");
      localStorage.setItem('quizAnswerFourText', options4[b].innerText);
      localStorage.setItem('quizAnswerFour', options4[b].dataset.id);
  })
}

buttonsBack[2].addEventListener("click", ()=>{
  step4.classList.remove("QuizPage-visible");
      step4.classList.add("QuizPage-hidden");
      step3.classList.add("QuizPage-visible");
})

buttonsNext[3].addEventListener("click", ()=>{
  step4.classList.remove("QuizPage-visible");
  step4.classList.add("QuizPage-hidden");
  step5.classList.add("QuizPage-visible");
  localStorage.setItem('quizStep', "five");
})


//----------------------------------------------------------------------------------- Quiz-  Runs Third 
function getQuiz(){
  var token = localStorage.getItem('quiztoken');
  $.ajax({
      type: 'GET',
      url: 'https://api.calderalab.com/api/quiz',
      beforeSend: function (xhr) {
          xhr.setRequestHeader("Authorization", 'Bearer '+ token);
         
      },
      success: function (data) {
         console.log('getQuiz success', data);
         var quizId = data.data.quizId;
         localStorage.setItem('quizId', quizId);
         var quizQuestions = data.data.questions;

       
       

      },
      error: function (xhr, status) {
          //console.log('error' , 'getQuiz function not fired' );
      }
  }); 
}

//--------------------------------------------------------------------- User- Runs First

function checkUser(){
                
  // Klaviyo Info
  var getKlaviyoEmail = _learnq.identify().$email
  var getKlaviyoName = _learnq.identify().$first_name

  // customerEmail is defined in theme.liquid file.

  if(customerEmail !== ""){
      //userInfo.push(customerName , customerEmail );
      localStorage.setItem('quizuseremail', customerEmail);
      localStorage.setItem('quizusername', customerName);
  }else if(getKlaviyoEmail !==  undefined){
      //userInfo.push(getKlaviyoName , getKlaviyoEmail);
      localStorage.setItem('quizuseremail', getKlaviyoEmail);
      
      if(getKlaviyoName !== undefined){
          localStorage.setItem('quizusername', getKlaviyoName);
      }
  }
}

//--------------------------------------------------------------------- Token-  Runs Second 

function getToken(){
  if (document.cookie.indexOf("quizToken=") >= 0) {
      
  }else{    
      localStorage.removeItem('quiztoken');
  }  

  if (localStorage.getItem("quiztoken") === null) {
      $.ajax({
          type: 'POST',
          url: 'https://api.calderalab.com/api/user',
          data: { 
              "email" : localStorage.getItem('quizuseremail'),
              "name"  : localStorage.getItem('quizusername')
          },
          success: function (data) {
              var usertoken = data.data.token;
              var uid = data.data.id;

              //console.log(data);

              //console.log(uid);

              if (document.cookie.indexOf("quizToken=") >= 0) {
              }else{
                  localStorage.setItem('quiztoken', usertoken);     
                  quizToken("quizToken", "true"); 
              }

              if (localStorage.getItem("quizuseremail") === null) {
                  localStorage.setItem('quizuserid', uid);
              }   

              setTimeout(function(){
                  if (localStorage.getItem("quizuseremail") === null) {
                      linkUser();
                  }
                  getQuiz();
              }, 1000);
          },
          error: function (xhr, status) {
              //console.log('error' , 'getToken function not fired' );
          }
      });
  }else{
      if (localStorage.getItem("quizuseremail") !== null) {
          if (localStorage.getItem("quizuserid") !== null) {
              setTimeout(function(){
                  linkUser();
              }, 1000);
          }
      }
      getQuiz();    
  }
}
//--------------------------------------- Generate Quiz Token
function quizToken(name, value) {
  var date = new Date();
  date.setTime(date.getTime() + (2 * 3600 * 1000));
  var expires = "; expires="+date.toGMTString();
  document.cookie = name+"="+value+expires+"; path=/";  
}
//--------------------------------------------------- Link User
function linkUser(){
  var uid = localStorage.getItem('quizuserid');
  $.ajax({
      type: 'PATCH',
      url: 'https://api.calderalab.com/api/user/'+uid,
      data: { 
          "email": localStorage.getItem('quizuseremail'),
          "name": localStorage.getItem('quizusername')
      },
      success: function (data) {
         //console.log('link user' , data);
      },
      error: function (xhr, status) {
          //console.log('error' , 'user email already linked' );
      }
  }); 
}


//--------------------------- Submit Quiz- Runs Last
function submitQuiz(){
  var token = localStorage.getItem('quiztoken');
  var quizId = localStorage.getItem('quizId');


  $.ajax({
      type: 'POST',
      url: 'https://api.calderalab.com/api/submission/quiz',
      beforeSend: function (xhr) {
          xhr.setRequestHeader("Authorization", 'Bearer '+ token);
      },
      data: { 
          "submission": {
              "quizId": localStorage.getItem('quizId'),
              "questionOptions": [
                  {
                      "questionId": "5349c0f8-f73e-42b1-a373-5d54e2c1ef80",
                      "optionIds": [
                          localStorage.getItem('quizAnswerOne')
                      ]
                  },
                  {
                      "questionId": "b7bdfa55-40f8-444e-b515-ff1d93932456",
                      "optionIds":localStorage.getItem('quizAnswerTwo').split(',')
                  },
                  {
                      "questionId": "f505a283-8b4a-42a7-9efc-0d2fe7ada59a",
                      "optionIds": [
                          localStorage.getItem('quizAnswerThree')
                      ]
                  },
                  {
                      "questionId": "457d3e4a-4bc7-418a-9e4e-0055b4867ae9",
                      "optionIds": [
                          localStorage.getItem('quizAnswerFour')
                      ]
                  }
              ]
          }
      },
      success: function (data) {
      
          //console.log('submitQuiz success', data);
         
          //console.log(data.data.metaData.days)
          // $dom.quizResultDrops.text(data.data.metaData.noOfDrops);
          localStorage.setItem('quizDrops' , data.data.metaData.noOfDrops);
          localStorage.setItem('quizDays' , data.data.metaData.days);
          localStorage.setItem('quizDescription' , data.data.resultDescription);

          if (window.location.href.indexOf("the-regimen") > -1) {
                /*if (localStorage.getItem("quizuseremail") !== null) {
                  pushToKlaviyo();
              }*/
              /*quizSubmitDone();*/

              // Quiz Push Data layer

              var quizAnswerTwoProperties = localStorage.getItem('quizAnswerTwoText').split(',');
              var quizObjAnswerTwo = {};

              quizAnswerTwoProperties.forEach(function(quizAnswerTwoProperties) {
                  var quizValue = quizAnswerTwoProperties.split(':');
                  var quizName = quizAnswerTwoProperties.replace(/\s+/g, "").split(':');

                  quizObjAnswerTwo[quizName[0]] = quizValue[0];
              });

              dataLayer = window.dataLayer || [];
              dataLayer.push ({
                  'quizAnswerOne': localStorage.getItem('quizAnswerOneText'),
                  'quizAnswerTwo': [quizObjAnswerTwo],
                  'quizAnswerThree': localStorage.getItem('quizAnswerThreeText'),
                  'quizAnswerFour': localStorage.getItem('quizAnswerFourText')
              }); 

              //console.log(dataLayer);

              // Quiz Push Data layer
          
              var quizDays = localStorage.getItem('quizDays');
              $(".rc_frequencySelecter .rc_frequencySelecter__item[data-handle="+quizDays+"]").click();
              $('.c-quizResult__answerTwo').text(localStorage.getItem("quizAnswerTwoText"));

              setTimeout(function(){
                  localStorage.removeItem('quizId');
                  localStorage.removeItem('quizAnswerOne');
                  localStorage.removeItem('quizAnswerTwo');
                  localStorage.removeItem('quizAnswerThree');
                  localStorage.removeItem('quizAnswerFour');
                  localStorage.removeItem('quizStep');
                  localStorage.removeItem('quizDrops');
                  localStorage.removeItem('quizDescription');
                  localStorage.removeItem('quizAnswerOneIcon');
                  localStorage.removeItem('quizAnswerThreeIcon');
                  //localStorage.removeItem('quizAnswerOneText');
                  //localStorage.removeItem('quizAnswerTwoText');
                  //localStorage.removeItem('quizAnswerThreeText');
                  setListAnswer = [];
                  setListAnswerText = []
                  /*
                  if (localStorage.getItem("quizAnswerTwoText") !== null) {
                      $('#QuizAnswerOne').val(localStorage.getItem('quizAnswerOneText'))
                      $('#QuizAnswerTwo').val(localStorage.getItem('quizAnswerTwoText'))
                      $('#QuizAnswerThree').val(localStorage.getItem('quizAnswerThreeText'))
                      $('#QuizAnswerFour').val(localStorage.getItem('quizAnswerFourText'))
                  }*/  
                  
              }, 3000);

          }else{
              /*if (localStorage.getItem("quizuseremail") !== null) {
                  pushToKlaviyo();
              }*/
              localStorage.removeItem('quizId');
              localStorage.removeItem('quizAnswerOne');
              localStorage.removeItem('quizAnswerTwo');
              localStorage.removeItem('quizAnswerThree');
              localStorage.removeItem('quizAnswerFour');
              localStorage.removeItem('quizStep');
              setListAnswer = [];
              setListAnswerText = []

              localStorage.setItem('quizSubmission', 'done' );

              setTimeout(function(){
                  window.location.href = "/pages/results";
              }, 3500);
          }

      },
      error: function (xhr, status) {
          //console.log('error' , 'submitQuiz function not fired' );
      }
  });
};

let skipButton = document.querySelector(".QuizPage_next-button-results");
document.addEventListener('keypress', function (e) {
            if (e.keyCode === 13 || e.which === 13) {
                e.preventDefault();
                return false;
            }
            
        });

skipButton.addEventListener("click", ()=>{
    loader.style.display="flex";
    checkUser();
    getToken();
    setTimeout(()=>{
        submitQuiz();
    },3000)
})
setTimeout(()=>{
  checkUser();
  getToken();
  let buttonEmail = document.querySelector(".QuizPage_next-button-discount-wrap");
  let submitEmail = document.querySelector("button.needsclick.go3894874857.kl-private-reset-css-Xuajs1");
  let titleBtn = document.querySelector(".QuizPage_next-button-discount");
  let inputBtnQuiz = document.querySelector("button.needsclick.go3894874857.kl-private-reset-css-Xuajs1");
  titleBtn.style.opacity="0.8";
titleBtn.style.pointerEvents="none";
inputBtnQuiz.addEventListener("focus",()=>{
    titleBtn.style.opacity="1";
    titleBtn.style.pointerEvents="all";   
})
  
  buttonEmail.addEventListener("click",()=>{

    let submitInput = document.querySelector("input.needsclick.go3547144309.kl-private-reset-css-Xuajs1").value;
    let substring = "@";
    
     
    if(submitInput.includes(substring)){
        loader.style.display="flex";
      $.ajax("/discount/" + "OFF10"); 
      submitEmail.click();
      titleBtn.textContent = "Discount Applied!";
      submitQuiz();
    } 
  })
},5000)
})();
</script>