<div class="ResultsPage_jts-wrapper">
    <div class="ResultsPage_jts-subwrapper">
        <p class="ResultsPage_jts-heading">Jump To:</p>
        <a  class="ResultsPage_jts-link ResultsPage_jts-link1">What's Included</a>
        <a  class="ResultsPage_jts-link ResultsPage_jts-link2">Results</a>
        <a  class="ResultsPage_jts-link ResultsPage_jts-link3">Ingredients</a>
        <a  class="ResultsPage_jts-link ResultsPage_jts-link4">Reviews</a>
    </div>
</div>
