<div class="ResultsPage_pr-wrapper-scroll">
</div>
<div class="ResultsPage_pr-wrapper">
    <div class="ResultsPage_pr-subwrapper">
        <div class="ResultsPage_pr-text-wrapper">
            <h3 class="ResultsPage_pr-subheading">Proven Results</h3>
            <h2 class="ResultsPage_pr-heading">9 out of 10 Men Experienced Healthier & Visibly Improved Skin</h2>
            <p class="ResultsPage_pr-text">A clinical trial revealed that 100% of participants using our 3-product Regimen of The Good, The Base Layer & The Clean Slate experienced smoother and healthier looking skin.</p>
        </div>
        <div class="ResultsPage_pr-video-wrap">
            <iframe width="956" height="538" src="https://www.youtube.com/embed/boUXnDAWRD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
    <div class="ResultsPage_pr-icons-wrap ResultsPage-slider6">
        <div class="swiper-wrapper">
            <div class="swiper-slide ResultsPage_pr-icon">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/silicones_ef4b017f-73e1-46fb-9a92-a105598e910f.png?v=1641309384">
                <h4 class="ResultsPage_pr-heading-icon">Silicon Free</h4>
            </div>
            <div class="swiper-slide ResultsPage_pr-icon">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Gluten-Free.png?v=1641309384">
                <h4 class="ResultsPage_pr-heading-icon">Gluten Free</h4>
            </div>
            <div class="swiper-slide ResultsPage_pr-icon">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/animal-ingredients_99a49ab1-866d-4301-81fd-0a00936620ed.png?v=1641309384">
                <h4 class="ResultsPage_pr-heading-icon">No Animal Testing</h4>
            </div>
            <div class="swiper-slide ResultsPage_pr-icon">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/parabens_99f0a398-1ec1-47e0-add0-bd3ee89dbab8.png?v=1641309384">
                <h4 class="ResultsPage_pr-heading-icon">Paraben Free</h4>
            </div>
            <div class="swiper-slide ResultsPage_pr-icon">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/toxic-chemicals_dbe672f4-680c-4ae5-896d-f308b42376a8.png?v=1641309384">
                <h4 class="ResultsPage_pr-heading-icon">No Toxic Chemicals</h4>
            </div>
            <div class="swiper-slide ResultsPage_pr-icon">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/aluminum_41dccf9c-fb9d-4e47-9f4c-24ffdddd0f70.png?v=1641309384">
                <h4 class="ResultsPage_pr-heading-icon">Aluminum Free</h4>
            </div>
        </div>
</div>
</div>
