<div class="ResultsPage_i-wrapper-scroll">
  
</div>
<div class="ResultsPage_i-wrapper">
    <h2 class="ResultsPage_i-heading">Ingredients</h2>
    <div class="ResultsPage_is-included-options ResultsPage_i-options-wrap">
        <div class="ResultsPage_is-included-option ResultsPage_i-option ResultsPage_is-included-option-active">
            <div class="ResultsPage_is-included-option-image-wrap">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/thumbnail-clean-slate.png?v=1641309385" class="ResultsPage_is-included-option-image">
            </div>
            <div>
                <h3 class="ResultsPage_is-included-option-heading ">The Clean Slate</h3>
                <p class="ResultsPage_is-included-option-text">Balancing Cleanser</p>
            </div>
          
        </div>

        <div class="ResultsPage_is-included-option ResultsPage_i-option">
            <div class="ResultsPage_is-included-option-image-wrap">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/thumbnail-the-base-layer.png?v=1641309385" class="ResultsPage_is-included-option-image">
            </div>
            <div>
                <h3 class="ResultsPage_is-included-option-heading">The Base Layer</h3>
                <p class="ResultsPage_is-included-option-text">Fortifying Moisturizer</p>
            </div>
           
        </div>

        <div  class="ResultsPage_is-included-option ResultsPage_i-option">
            <div class="ResultsPage_is-included-option-image-wrap">
                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/thumbnail-the-good.png?v=1641309384" class="ResultsPage_is-included-option-image">
            </div>
            <div>
                <h3 class="ResultsPage_is-included-option-heading">The Good</h3>
                <p class="ResultsPage_is-included-option-text">Multifunctional Serum</p>
            </div>
           
        </div>

        <a class="ResultsPage_i-option-link">See All Ingredients: <span class="ResultsPage_i-option-link-inner">The Clean Slate</span></a>
</div>
<div class="swiper ResultsPage_i-slider ResultsPage_i-slider-handle ResultsPage_i-slider-handle-active">
    <div class="swiper-wrapper ResultsPage_i-slider-wrapper">
      <div class="swiper-slide ResultsPage_i-slide">
          <div class="ResultsPage_i-slide-image">
            <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--GlacialMinerals-05e7f2.jpg?v=1645562063">
                <div class="ResultsPage_i-slide-info">i</div>
                <div class="ResultsPage_i-slide-info-overlay">
                    <p>Rich in minerals and rare earth elements, our Ecocert COSMOS approved deep sea glacial water is found at the convergence of mountains and ocean waters along the Northern Pacific Coast.</p>
                </div>
          </div>
          <h3 class="ResultsPage_i-slide-heading">
            Protect
          </h3>
          <h4 class="ResultsPage_i-slide-subheading">
            Glacial Minerals
          </h4>
      </div>
      <div class="swiper-slide ResultsPage_i-slide">
        <div class="ResultsPage_i-slide-image">
            <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Nelumbo-lotus-ab5f3c.jpg?v=1645562063">
            <div class="ResultsPage_i-slide-info">i</div>
            <div class="ResultsPage_i-slide-info-overlay">
                <p>Known for its resilience, Lotus is rich in antioxidants and provides soothing benefits while also helping to tighten and firm the appearance of the skin.</p>
            </div>
      </div>
      <h3 class="ResultsPage_i-slide-heading">
        Protect
      </h3>
      <h4 class="ResultsPage_i-slide-subheading">
        Nelumbo Lotus
      </h4>
      </div>
      <div class="swiper-slide ResultsPage_i-slide">
        <div class="ResultsPage_i-slide-image">
            <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Squalane-c2de6c.jpg?v=1645562063">
            <div class="ResultsPage_i-slide-info">i</div>
            <div class="ResultsPage_i-slide-info-overlay">
                <p>Our non-GMO plant-derived squalane deeply moisturizes and conditions the skin while leaving a smooth matte finish.
                </p>
            </div>
      </div>
      <h3 class="ResultsPage_i-slide-heading">
        Soothe & Balance
      </h3>
      <h4 class="ResultsPage_i-slide-subheading">
        Plant-Derived Squalane
      </h4>
      </div>
      <div class="swiper-slide ResultsPage_i-slide">
        <div class="ResultsPage_i-slide-image">
            <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Fireweed-830712.jpg?v=1645562063">
            <div class="ResultsPage_i-slide-info">i</div>
            <div class="ResultsPage_i-slide-info-overlay">
                <p>Trusted for centuries by indigenous people to help benefit the skin, our fireweed is harvested at high elevations in the Teton Mountain Range and contains bioflavonoids and antioxidants that can help combat environmental stressors.</p>
            </div>
      </div>
      <h3 class="ResultsPage_i-slide-heading">
        Cleanse & Clarify
      </h3>
      <h4 class="ResultsPage_i-slide-subheading">
        Fireweed
      </h4>
      </div>
      <div class="swiper-slide ResultsPage_i-slide">
        <div class="ResultsPage_i-slide-image">
            <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Probiotic-ferments-593c8d.jpg?v=1645562063">
            <div class="ResultsPage_i-slide-info">i</div>
            <div class="ResultsPage_i-slide-info-overlay">
                <p>Caldera + Lab uses a patented probiotic-based ferment that helps activate the skin’s natural protective defense mechanism, thereby soothing the skin and strengthening the skin barrier.

                </p>
            </div>
      </div>
      <h3 class="ResultsPage_i-slide-heading">
        Environmental Stress Busters
      </h3>
      <h4 class="ResultsPage_i-slide-subheading">
        Probiotic Ferments
      </h4>
      </div>
      <div class="swiper-slide ResultsPage_i-slide">
        <div class="ResultsPage_i-slide-image">
            <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Frankincense-8c5102.jpg?v=1645562063">
            <div class="ResultsPage_i-slide-info">i</div>
            <div class="ResultsPage_i-slide-info-overlay">
                <p>Frankincense helps to balances natural oils found in the skin.</p>
            </div>
      </div>
      <h3 class="ResultsPage_i-slide-heading">
        Soothe & Balance
      </h3>
      <h4 class="ResultsPage_i-slide-subheading">
        Frankincense
      </h4>
      </div>
    </div>
    <div class="swiper-button-next ing-right"></div>
    <div class="swiper-button-prev ing-left"></div>
    <div class="ResultsPage_i-buttons">
        <div class="ResultsPage_i-button">
            
        </div>
        <div class="ResultsPage_i-button">
            
        </div>
    </div>
    <div class="ResultsPage_arrow-controls">
      <img class="ResultsPage_arrow-controls-left" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Left.svg?v=1641840191" >
      <img class="ResultsPage_arrow-controls-right" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Right.svg?v=1641840208" >
    </div>
    
  </div>
  
<div class="swiper ResultsPage_i-slider1 ResultsPage_i-slider-handle">
  <div class="swiper-wrapper ResultsPage_i-slider-wrapper">
    <div class="swiper-slide ResultsPage_i-slide">
        <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Buddleja-fdd154.jpg?v=1645562950">
              <div class="ResultsPage_i-slide-info">i</div>
              <div class="ResultsPage_i-slide-info-overlay">
                  <p>Undifferentiated plant meristem cells of buddleja are harvested from the buds and root tips to provide natural moisturizers and barriers to the elements.</p>
              </div>
        </div>
        <h3 class="ResultsPage_i-slide-heading">
          Plant Stem Cell Technology
        </h3>
        <h4 class="ResultsPage_i-slide-subheading">
          Buddleja Plant Stem Cells
        </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Squalane-d17337.jpg?v=1645562950">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>Our non-GMO plant-derived squalane deeply moisturizes and conditions the skin while leaving a smooth matte finish.              </p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Environmental Stressor Protection
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Plant-Derived Squalane

    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--ElkhornSeaMoss-ed5422.jpg?v=1645562950">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>A skin conditioning red algae species that is traditionally known for its wound healing and soothing properties. Rich in bioactive antioxidants, it works on inhibiting melanin production, soothing the skin and smoothing the look of wrinkles.</p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Deep Hydration
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Elkhorn Sea Moss
    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Microalgae-1234bc.jpg?v=1645562950">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>These marine nutrients help tighten and firm the appearance of the skin.
              </p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Plant Stem Cell Technology
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Encapsulated Microalgae

    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Immortelle-f42a99.jpg?v=1645562950">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>Known as the life everlasting flower, Immortelle is a botanical powerhouse of skin-beneficial antioxidants that work on brightening the look of skin tone, minimizing the appearance of dark spots, and reducing the visibility of aging</p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Adaptogenic Nourishment
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Immortelle Flower
    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--tara-tree-complex-7bb1ab.jpg?v=1645562950">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>Clinically proven to IR and particulate pollution. The botanical concentrate of Tara plant and fruit pod extracts along with plant-derived biopolymers and biosaccharides work to fight the effects of radiation due to IR and urban pollution.

              </p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Environmental Stressor Protection
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Tara Tee Complex

    </h4>
    </div>
  </div>
  <div class="swiper-button-next ing-right"></div>
  <div class="swiper-button-prev ing-left"></div>
  <div class="ResultsPage_i-buttons">
      <div class="ResultsPage_i-button">
          
      </div>
      <div class="ResultsPage_i-button">
          
      </div>
  </div>
  <div class="ResultsPage_arrow-controls">
    <img class="ResultsPage_arrow-controls-left" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Left.svg?v=1641840191" >
    <img class="ResultsPage_arrow-controls-right" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Right.svg?v=1641840208" >
  </div>
  
</div>

<div class="swiper ResultsPage_i-slider2 ResultsPage_i-slider-handle">
  <div class="swiper-wrapper ResultsPage_i-slider-wrapper">
    <div class="swiper-slide ResultsPage_i-slide">
        <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-40-copy-e2818d.jpg?v=1645563374">
              <div class="ResultsPage_i-slide-info">i</div>
              <div class="ResultsPage_i-slide-info-overlay">
                  <p>Rich in skin-nourishing fatty acids, vitamins, and antioxidants, this light, non-sticky, and fast-absorbing botanical oil helps the skin look youthful.</p>
              </div>
        </div>
        <h3 class="ResultsPage_i-slide-heading">
          Moisturize
        </h3>
        <h4 class="ResultsPage_i-slide-subheading">
          Apricot Kernel Oil
        </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-41-copy-78f145.jpg?v=1645563373">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>Trusted for centuries by indigenous people to help benefit the skin, our fireweed is harvested at high elevations in the Teton Mountain Range and contains bioflavonoids and antioxidants that can help combat environmental stressors.</p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Moisturize
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Fireweed
    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-42-143cc9.jpg?v=1645563373">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>Foraged from the wild habitats of the Mountain West, our wild dandelion soothes the skin and helps fight the signs of aging to reveal tighter, brighter, and clearer-looking skin.</p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Moisturize
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Dandelion
    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-43-c646fa.jpg?v=1645563374">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>This herb is widely used in the practice of traditional Chinese medicine and helps tighten and firm the appearance of the skin.</p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Help Skin Look Tighter & Smoother
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Astralagus Root
    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--Mask-078218.jpg?v=1645563373">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>This flowering shrub, native to Northern America, contains antioxidants that can brighten and soften the appearance of the skin.</p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Improve Appearance of Dark Spots & Skin Tone
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Elderflower
    </h4>
    </div>
    <div class="swiper-slide ResultsPage_i-slide">
      <div class="ResultsPage_i-slide-image">
          <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-44-ba3e77.jpg?v=1645563374">
          <div class="ResultsPage_i-slide-info">i</div>
          <div class="ResultsPage_i-slide-info-overlay">
              <p>Spilanthes enriches the skin with moisturizers, reducing the appearance of fine lines and wrinkles. Spilanthes also has natural cleansing properties that improve the appearance of pores and balance natural oils.</p>
          </div>
    </div>
    <h3 class="ResultsPage_i-slide-heading">
      Help Reduce Visibility of Wrinkles & Fine Lines
    </h3>
    <h4 class="ResultsPage_i-slide-subheading">
      Spilanthes
    </h4>
    </div>
  </div>
  <div class="swiper-button-next ing-right"></div>
  <div class="swiper-button-prev ing-left"></div>
  <div class="ResultsPage_i-buttons">
      <div class="ResultsPage_i-button">
          
      </div>
      <div class="ResultsPage_i-button">
          
      </div>
  </div>
  <div class="ResultsPage_arrow-controls">
    <img class="ResultsPage_arrow-controls-left" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Left.svg?v=1641840191" >
    <img class="ResultsPage_arrow-controls-right" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Right.svg?v=1641840208" >
  </div>
  
</div>

  <!--Mobile Accordion-->
  <div class="ResultsPage_is-included-options-mob">
    <div class="FaqAccordion">
      <h2 class="ResultsPage_is-included-heading">Ingredients</h2>
     <!--Mobile Accordion Question 1-->
          <div class="FaqAccordion__question">
              <button class="FaqAccordion__button FaqAccordion__button-alt FaqAccordion--vertical-align">
                  <div class="ResultsPage_is-included-option-image-wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/thumbnail-clean-slate.png?v=1641309385" class="ResultsPage_is-included-option-image">
                  </div>
                  <div class="ResultsPage_is-acc-text">
                      <h3 class="ResultsPage_is-included-option-heading">The Clean Slate</h3>
                      <p class="ResultsPage_is-included-option-text">Balancing Cleanser</p>
                  </div>
              </button>
              <div class="FaqAccordion__content">
                  <div class="ResultsPage_is-included-option-results">
                   <div class="c-productImage__featured ResultsPage-slider8 ResultsPage-slider-mob" >
                              <div class="swiper-wrapper">
                                <div class="c-productImages swiper-slide">
                                  <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--GlacialMinerals-05e7f2.jpg?v=1645562063" />
                                  <h3 class="ResultsPage_i-slide-heading">
                                    Protect
                                  </h3>
                                  <h4 class="ResultsPage_i-slide-subheading">
                                    Glacial Minerals
                                  </h4>
                                  <div class="ResultsPage_i-slide-info-overlay">
                                    <p>Rich in minerals and rare earth elements, our Ecocert COSMOS approved deep sea glacial water is found at the convergence of mountains and ocean waters along the Northern Pacific Coast.</p>
                                </div>
                              </div>
                              <div class="c-productImages swiper-slide">
                                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Nelumbo-lotus-ab5f3c.jpg?v=1645562063" />
                                <h3 class="ResultsPage_i-slide-heading">
                                  Protect
                                </h3>
                                <h4 class="ResultsPage_i-slide-subheading">
                                  Nelumbo Lotus
                                </h4>
                                <div class="ResultsPage_i-slide-info-overlay">
                                  <p>Known for its resilience, Lotus is rich in antioxidants and provides soothing benefits while also helping to tighten and firm the appearance of the skin.</p>
                              </div>
                            </div>
                              <div class="c-productImages swiper-slide">
                                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Squalane-c2de6c.jpg?v=1645562063" />
                                <h3 class="ResultsPage_i-slide-heading">
                                  Soothe & Balance
                                </h3>
                                <h4 class="ResultsPage_i-slide-subheading">
                                  Plant-Derived Squalane
                                </h4>
                                <div class="ResultsPage_i-slide-info-overlay">
                                  <p>Our non-GMO plant-derived squalane deeply moisturizes and conditions the skin while leaving a smooth matte finish.
                                  </p>
                              </div>
                              </div>
                              <div class="c-productImages swiper-slide">
                                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Fireweed-830712.jpg?v=1645562063" />
                                <h3 class="ResultsPage_i-slide-heading">
                                  Cleanse & Clarify
                                </h3>
                                <h4 class="ResultsPage_i-slide-subheading">
                                  Fireweed
                                </h4>
                                <div class="ResultsPage_i-slide-info-overlay">
                                  <p>Trusted for centuries by indigenous people to help benefit the skin, our fireweed is harvested at high elevations in the Teton Mountain Range and contains bioflavonoids and antioxidants that can help combat environmental stressors.</p>
                              </div>
                              </div>
                              <div class="c-productImages swiper-slide">
                                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Probiotic-ferments-593c8d.jpg?v=1645562063" />
                                <h3 class="ResultsPage_i-slide-heading">
                                  Environmental Stress Busters
                                </h3>
                                <h4 class="ResultsPage_i-slide-subheading">
                                  Probiotic Ferments
                                </h4>
                                <div class="ResultsPage_i-slide-info-overlay">
                                  <p>Caldera + Lab uses a patented probiotic-based ferment that helps activate the skin’s natural protective defense mechanism, thereby soothing the skin and strengthening the skin barrier.

                                  </p>
                              </div>
                              </div>
                              <div class="c-productImages swiper-slide">
                                <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/4554a0f1dfc2--Frankincense-8c5102.jpg?v=1645562063" />
                                <h3 class="ResultsPage_i-slide-heading">
                                  Soothe & Balance
                                </h3>
                                <h4 class="ResultsPage_i-slide-subheading">
                                  Frankincense
                                </h4>
                                <div class="ResultsPage_i-slide-info-overlay">
                                  <p>Frankincense helps to balances natural oils found in the skin.</p>
                              </div>
                              </div>
                              </div>
                            
                              <div class="swiper-button-next ing-right"></div>
    <div class="swiper-button-prev ing-left"></div>
    <div class="ResultsPage_arrow-controls">
      <img class="ResultsPage_arrow-controls-left" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Left.svg?v=1641840191" >
      <img class="ResultsPage_arrow-controls-right" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Right.svg?v=1641840208" >
    </div>
    <a class="ResultsPage-acc-href-mob" >See All Ingredients: The Clean Slate</a>
                    </div>
                          
                  </div>
              </div>
          </div>
          <!--Mobile Accordion Question 2-->
          <div class="FaqAccordion__question">
              <button class="FaqAccordion__button FaqAccordion__button-alt FaqAccordion--vertical-align">
                  <div class="ResultsPage_is-included-option-image-wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/thumbnail-the-base-layer.png?v=1641309385" class="ResultsPage_is-included-option-image">
                  </div>
                  <div class="ResultsPage_is-acc-text">
                      <h3 class="ResultsPage_is-included-option-heading">The Base Layer</h3>
                      <p class="ResultsPage_is-included-option-text">Fortifying Moisturizer</p>
                  </div>
              </button>
              <div class="FaqAccordion__content">
                <div class="ResultsPage_is-included-option-results">
                 <div class="c-productImage__featured ResultsPage-slider10 ResultsPage-slider-mob" >
                  <div class="swiper-wrapper">
                    
                    <div class="c-productImages swiper-slide">
                      <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Buddleja-fdd154.jpg?v=1645562950" />
                      <h3 class="ResultsPage_i-slide-heading">
                        Plant Stem Cell Technology
                      </h3>
                      <h4 class="ResultsPage_i-slide-subheading">
                        Buddleja Plant Stem Cells
                      </h4>
                      <div class="ResultsPage_i-slide-info-overlay">
                        <p>Undifferentiated plant meristem cells of buddleja are harvested from the buds and root tips to provide natural moisturizers and barriers to the elements.</p>
                    </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Squalane-d17337.jpg?v=1645562950" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Environmental Stressor Protection
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Plant-Derived Squalane
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>Our non-GMO plant-derived squalane deeply moisturizes and conditions the skin while leaving a smooth matte finish.              </p>
                  </div>
                </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--ElkhornSeaMoss-ed5422.jpg?v=1645562950" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Deep Hydration
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Elkhorn Sea Moss
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>A skin conditioning red algae species that is traditionally known for its wound healing and soothing properties. Rich in bioactive antioxidants, it works on inhibiting melanin production, soothing the skin and smoothing the look of wrinkles.</p>
                  </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Microalgae-1234bc.jpg?v=1645562950" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Plant Stem Cell Technology
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Encapsulated Microalgae
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>These marine nutrients help tighten and firm the appearance of the skin.
                      </p>
                  </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--Immortelle-f42a99.jpg?v=1645562950" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Adaptogenic Nourishment
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Immortelle Flower
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>Known as the life everlasting flower, Immortelle is a botanical powerhouse of skin-beneficial antioxidants that work on brightening the look of skin tone, minimizing the appearance of dark spots, and reducing the visibility of aging</p>
                  </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/098838acf4a6--tara-tree-complex-7bb1ab.jpg?v=1645562950" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Environmental Stressor Protection
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Tara Tree Complex
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>Clinically proven to IR and particulate pollution. The botanical concentrate of Tara plant and fruit pod extracts along with plant-derived biopolymers and biosaccharides work to fight the effects of radiation due to IR and urban pollution.

                      </p>
                  </div>
                  </div>
                  
                </div>
                <div class="swiper-button-next ing-right"></div>
                <div class="swiper-button-prev ing-left"></div>
                <div class="ResultsPage_arrow-controls">
                  <img class="ResultsPage_arrow-controls-left" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Left.svg?v=1641840191" >
                  <img class="ResultsPage_arrow-controls-right" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Right.svg?v=1641840208" >
                </div>
                <a class="ResultsPage-acc-href-mob">See All Ingredients: The Base layer</a>
                  </div>
                        
                </div>
            </div>
          </div>
          <!--Mobile Accordion Question 3-->
          <div class="FaqAccordion__question">
              <button class="FaqAccordion__button FaqAccordion__button-alt FaqAccordion--vertical-align">
                  <div class="ResultsPage_is-included-option-image-wrap">
                      <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/thumbnail-the-good.png?v=1641309384">

                  </div>
                  <div class="ResultsPage_is-acc-text">
                      <h3 class="ResultsPage_is-included-option-heading">The Good</h3>
                      <p class="ResultsPage_is-included-option-text">Multifunctional Serum</p>
                  </div>
              </button>
              <div class="FaqAccordion__content">
                <div class="ResultsPage_is-included-option-results">
                 <div class="c-productImage__featured ResultsPage-slider9 ResultsPage-slider-mob" >
                  <div class="swiper-wrapper">
                    <div class="c-productImages swiper-slide">
                      <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-40-copy-e2818d.jpg?v=1645563374" />
                      <h3 class="ResultsPage_i-slide-heading">
                        Moisturize
                      </h3>
                      <h4 class="ResultsPage_i-slide-subheading">
                        Apricot Kernel Oil
                      </h4>
                      <div class="ResultsPage_i-slide-info-overlay">
                        <p>Rich in skin-nourishing fatty acids, vitamins, and antioxidants, this light, non-sticky, and fast-absorbing botanical oil helps the skin look youthful.</p>
                    </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-41-copy-78f145.jpg?v=1645563373" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Moisturize
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Fireweed
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>Trusted for centuries by indigenous people to help benefit the skin, our fireweed is harvested at high elevations in the Teton Mountain Range and contains bioflavonoids and antioxidants that can help combat environmental stressors.</p>
                  </div>
                </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-42-143cc9.jpg?v=1645563373" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Moisturize
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Dandelion
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>Foraged from the wild habitats of the Mountain West, our wild dandelion soothes the skin and helps fight the signs of aging to reveal tighter, brighter, and clearer-looking skin.</p>
                  </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-43-c646fa.jpg?v=1645563374" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Help Skin Look Tighter & Smoother
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Astralagus Root
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>This herb is widely used in the practice of traditional Chinese medicine and helps tighten and firm the appearance of the skin.</p>
                  </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--Mask-078218.jpg?v=1645563373" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Improve Appearance of Dark Spots & Skin Tone
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Elderflower
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>This flowering shrub, native to Northern America, contains antioxidants that can brighten and soften the appearance of the skin.</p>
                  </div>
                  </div>
                  <div class="c-productImages swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/bec2a6cd7fd8--download-44-ba3e77.jpg?v=1645563374" />
                    <h3 class="ResultsPage_i-slide-heading">
                      Help Reduce Visibility of Wrinkles & Fine Lines
                    </h3>
                    <h4 class="ResultsPage_i-slide-subheading">
                      Spilanthes
                    </h4>
                    <div class="ResultsPage_i-slide-info-overlay">
                      <p>Spilanthes enriches the skin with moisturizers, reducing the appearance of fine lines and wrinkles. Spilanthes also has natural cleansing properties that improve the appearance of pores and balance natural oils.</p>
                  </div>
                  </div>
                  </div>
                  <div class="swiper-button-next ing-right"></div>
                  <div class="swiper-button-prev ing-left"></div>
                  <div class="ResultsPage_arrow-controls">
                    <img class="ResultsPage_arrow-controls-left" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Left.svg?v=1641840191" >
                    <img class="ResultsPage_arrow-controls-right" src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/Arrow_In_Circle_-_Right.svg?v=1641840208" >
                  </div>
                  <a class="ResultsPage-acc-href-mob" >See All Ingredients: The Good</a>
                  </div>
                        
                </div>
            </div>
          </div>
    
  </div>
  </div>
</div>
<div class="ResultsPage_i-ingredients-modal">
  <div class="ResultsPage_i-ingredients-modal-close">
    +
  </div>
  <p class="ResultsPage_i-ingredients-modal-heading">
    All Ingredients
  </p>
  <p class="ResultsPage_i-ingredients-modal-text ResultsPage_i-ingredients-modal-text-1">
    Sea Silt Extract, Decyl Glucoside, Sodium Lauroyl Lactylate, Glycerin, Squalane, Water (Aqua), Achillea Millefolium Extract, Arnica Montana Flower Extract, Boswellia Serrata Resin Extract, Calendula Officinalis Flower Extract, Chamomilla Recutita (Matricaria) Flower Extract , Epilobium Angustifolium Extract, Nelumbo Nucifera Leaf Extract, Urtica Dioica (Nettle) Extract, Vaccinium Myrtillus Leaf Extract, Vetiveria Zizanoides Root Extract, Vitis Vinifera (Grape) Fruit Extract, Zingiber Officinale (Ginger) Root Extract, Elettaria Cardamomum Seed Oil, Juniperus Communis (Juniper Berry) Fruit Oil, Juniperus Virginiana Oil, Pelargonium Graveolens Flower Oil, Saccharide Isomerate, Sodium Lauroyl Oat Amino Acids, Calcium Gluconate, Gluconolactone, Lactobacillus Ferment, Citric Acid, Xanthan Gum, Glyceryl Stearate, Maltodextrin, Triethyl Citrate, Sodium Citrate, Dimethyl Heptenal, Sodium Benzoate, Potassium Sorbate, Benzyl Alcohol</p>
  <p class="ResultsPage_i-ingredients-modal-text ResultsPage_i-ingredients-modal-text-2">
    Sea Silt Extract, Cetearyl Alcohol, Glycerin, Caprylic/Capric Triglyceride, Octyldodecanol, Squalane, Glyceryl Caprylate, Helianthus Annuus (Sunflower) Seed Oil Unsaponifiables, Water (Aqua), Microcrystalline Cellulose, Avena Sativa (Oat) Kernel Extract, Platonia Insignis Seed Butter, Ruttnera Lamellosa Oil, Watanabea Reniformis Oil, Elettaria Cardamomum Seed Oil, Pelargonium Graveolens Flower Oil, Juniperus Communis (Juniper Berry) Fruit Oil, Juniperus Virginiana Oil, Helianthus Annuus (Sunflower) Sprout Extract, Tremella Fuciformis Polysaccharide, Caesalpinia Spinosa Fruit Extract, Kappaphycus Alvarezii Extract, Caesalpinia Spinosa Fruit Pod Extract, Tephrosia Purpurea Seed Extract, Camellia Sinensis Leaf Extract, Glycyrrhiza Glabra (Licorice) Root Extract, Helichrysum Arenarium Flower Extract, Tabebuia Impetiginosa Bark Extract, Verbascum Thapsus Extract, Vetiveria Zizanoides Root Extract, Tocopherol, Sucrose, Gluconolactone, Saccharide Isomerate, Sodium Stearoyl Glutamate, Buddleja Davidii Meristem Cell Culture, Cellulose Gum, Xanthan Gum, Sodium Benzoate, Glyceryl Stearate Citrate, Maltodextrin, Achillea Millefolium Extract, Epilobium Angustifolium Extract, Urtica Dioica (Nettle) Extract, Propanediol, Citric Acid, Sodium Citrate, Lecithin, Triethyl Citrate, Dimethyl Heptenal, Benzyl Alcohol, Potassium Sorbate</p>
  <p class="ResultsPage_i-ingredients-modal-text ResultsPage_i-ingredients-modal-text-3">
    <b>INGREDIENTS FROM WILD-HARVESTING</b><br>
Epilobium angustifolium (fireweed) herb extract, Sambucus canadensis (elder) flower extract, Achillea millefolium (yarrow) flower extract, Urtica dioica (nettle) leaf extract, Taraxacum officinale (dandelion) leaf extract
<br><b>INGREDIENTS FROM ORGANIC FARMING</b><br>
Prunus armeniaca (apricot) kernel oil, Helianthus annuus (sunflower) seed oil, Calendula officinalis (calendula) flower extract, Medicago sativa (alfalfa) extract, Sambucus nigra (elder) berry extract, Echinacea angustifolia (echinacea) herb extract, Salvia officinalis (sage) leaf extract, Opuntia ficus indica (prickly pear) seed oil, Epilobium angustifolium flower/leaf/stem extract, Carthamus tinctorius (safflower) seed oil, Spilanthes acmella flower/leaf/stem extract, Rubus idaeus (raspberry) seed extract, Monarda didyma (red bergamot) leaf/flower oil, Boswellia carterii (frankincense) resin extract, Hippophae rhamnoides (sea buckthorn) fruit extract, Achillea millefolium (yarrow) flower oil, Simmondsia chinensis (jojoba) seed oil, Salvia triloba (sage) leaf extract, Limnanthes alba (meadowfoam) seed oil, Astragalus membranaceus root extract, Ubiquinone, Tocopherol, Bisabolol</p>
</div>
 
</div>
