/* Panel */
.c-offcanvas {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    max-width: 380px;
    height: 100%;
    visibility: hidden;
    background-color: #fff;
    backface-visibility: hidden;
    transition: transform 0.5s ease, visibility 0.5s ease;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    opacity: 1;
}
.c-offcanvas.offcanvas-open {
    overflow-x: hidden;
    visibility: visible;
    transform: translate(0, 0);
    
    
}

.c-offcanvas--right{
    background-color:#f7f6f3;
}

.c-cartCount__header{
    padding:20px 0 0 0;
}   

.c-cartCount__heading{
    margin:0;
}


.c-offcanvas__close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    line-height: 44px;
    text-align: center;
    font-size: 28px;
    color: #000;
    cursor: pointer;

    
}

.c-offcanvas__close:--enter {
    background-color: transparent;
    outline: none;
}

.c-offcanvas--left {
    left: 0;
    padding: 32px 32px 0 32px;
    transform: translateX(-300px);
}

.c-offcanvas--right {
    right: 0;
    transform: translateX(375px);
    max-width: 375px;
}

/* Overlay */
.c-offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    backface-visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.c-offcanvas-overlay span{
    display: none;
}

.offcanvas-open .c-offcanvas-overlay{
    opacity: .7;
    visibility: visible;
    z-index: 99999;
}

.c-cartCount {
    background-color: #fff;
    padding: 27px 23px 21px 38px;
    margin: 0 -30px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}


.c-cartCount__close {
    background: transparent;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 0 0 5px 0;
}



.c-cart__emptyText {
    margin-top: 0;
    text-align: center;
    padding: 30px;
    background: #fff;
}

.c-cart--hasGift {
    font-size: 12px;
    word-spacing: -1.4px;
}

.cartProduct__slider {
    margin-bottom: 80px;
    padding-bottom: 10px;
}

.c-drawerProduct__block {
    padding: 0 40px;
}

.c-drawerProduct__media {
    float: left;
    width: 117px;
    padding-top: 12px;
}

.c-drawerProduct__content {
    overflow: hidden;
}

.c-drawerProduct__img {
    max-width: 56px;
    margin: auto;
}

.c-drawerProduct__title {
    font-size: 13px;
    padding-top: 3px;
}

.c-drawerProduct__btn {
    padding-top: 6px;
    padding-right: 20px;
}

.c-drawerProduct__copy {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.c-drawerProduct__atc {
    display: block;
    width: 100%;
    font-size: 13px;
    letter-spacing: 1.5px;
    height: 40px;
    padding: 0;
}
.paypal-button.paypal-button-color-gold {
    background-color: transparent;
    border:1px solid #d4d3cf;
}
.additional-checkout-button:last-child {
    margin-bottom: 10px !important;
}

.cartProduct__title {
    text-align: center;
}


.c-cart__product {
    margin:0;
    padding: 0 10px;
}

.c-cart__row {
    display: flex;
    padding:20px;
    border-bottom: 1px solid #f1f1f1;
}

.c-cart__itemImageBox {
    flex: 30;
    max-width: 65px;
}

.c-cart__itemImageBox img{
    max-width:65px;
}


.c-cart__itemInfoBox {
    position: relative;
    padding:0 0 0 15px;
    flex: 70;
}

.c-cart__itemRemove {
    position: absolute;
    right: 5px;
    top: -3px;
    cursor: pointer;
}

.c-cart__itemRemoveX {}

.c-cart__itemInfoContainer {
    padding-right: 20px;
    width:100%;
}

.c-cart__productList{
    background:#fff url('https://cdn.shopify.com/s/files/1/0079/7193/0170/t/472/assets/cart-shadow-bg-new.jpg') repeat-x 0 0;
}

.c-cart__itemName {
    display: block;
    letter-spacing: 0px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 16px;
    line-height: normal;
    font-family: "Avenir LT Pro","Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
    color:#21211E;
}

.c-cart__itemMeta {
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
}

.c-cart__itemLowerBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
}


.c-cart__itemPriceBox {
    line-height: 12px;
}

.c-cart__itemQuantityBox{
    z-index: 20;
    width: 100px;
    border: 1px solid #f4f4f4;
    display: flex;
    text-align: center;
    height: 42px;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 35px 0 0;
}

.c-cart__itemPrice {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.7px;
    font-family: "Adobe Garamond Pro",serif;
    color:#3D3D38;
}

.c-cart__itemQuantityBox a,
.c-cart__itemQuantityBox span{
    width: 33.333%;
}

.c-cart__itemQuantityBox span{
    font-family: "Adobe Garamond Pro",serif;
    color:#3D3D38;
    font-size: 16px;
    position: relative;
}

.c-cart__itemQuantityBox .c-drawer__minus{
    top:-3px;
}

.c-cart__itemQuantityBox .c-drawer__plus{
    top:2px;
}

.c-cart__itemQuantityBox svg{
    fill: #d3d2d0;
}

.c-cart__itemPrice--noSale {
    font-size: 18px;

}


.c-cart__itemDiscount {
    font-size: 11px;
    font-weight: 800;
}

.c-cart__footer {
    clear:both;
    padding:0 0 9px 0;
    /* margin-bottom: 35px; */
}


.c-drawer__header{
    background: #f7f6f3;
    padding:23px 0;
}

.c-drawer__title{
       text-align: center;
    font-size: 24px;
    line-height: normal;
    margin: 0;
    padding: 0;
 
}

.c-drawer__subTotal {
    display: flex;
    padding:20px 30px;
    align-items: center;
}

.c-drawer__subTotalLeft {
    padding-right: 39px;
    text-align: left;
}
.c-drawer__subTotalRight {
    flex-grow: 1;
    text-align: right;
}

.c-cart__total{
    font-family: "Adobe Garamond Pro",serif;
    color:#3D3D38;
    font-size: 20px;

}

.c-drawer__subTotalTitle{
    font-size: 12px;
    line-height: 16px;
    color:#B9680C;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
     margin: 4px 0 6px 0;
}

.c-drawer__subTotalRight .btn {
    width: 100%;
    padding: 17px 0;
    font-size: 12px;
    border-width: 1px;
    font-size: 14px;
    font-weight: 700;
    max-width: 174px;
}



.c-cart__footer{
    padding:0 10px;
}

.c-cart__additionalButtonsText{
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 25px 0;
}

.c-cart__additionalButtons{
    text-align: center;
}

.c-drawer__footerText{
    border-top:1px solid #d1cfcc;
    padding:20px 20px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin: 10px 0 0 0;
}

.c-drawer__subscribeProduct{
    text-align: center;
    padding: 0 10px 0 10px;
    margin: -5px 0 15px 0px;
}

.c-drawer__subscribeProduct.is-active{
    display: block;
}

.c-drawer__subscribeProduct .btn{
    font-weight: normal;
    background: none;
    min-width: 320px;

}

.c-cart__deliveryInfo{
    color:#777770;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2
}

.c-cart__deliveryInfo svg {
    width:13px;
    height: 13px;
}

.c-checkoutRechBtn{
    display: none;
}

.c-drawer__subscribeBtn{
    max-width: 315px;
    margin:0 auto;
}

.c-drawer__subscribeBtn .btn.btn--secondary.c-interstitialBtn.c-interstitialBtn{
    max-width: 315px;
    min-width: inherit;
    height: 54px;
    padding:17px 20px 13px 40px;
}

.c-drawer__subscribeBtn .c-interstitialDropDown{
    z-index: 99;
    background: #f7f6f3;
}