.vip-tier{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #797970;
	color: white;
	padding-bottom: 9rem;
    padding-top: 5rem;
    margin-bottom: 0;
}
.vip-tier h3{
    font-size: 27px;
    letter-spacing: 0.9px;	
    color: white;
    line-height: 30px;
    margin-bottom: 0;
}
.vip-tier p{
	font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 0.4px;
}
.vip-tier-table{
    display: flex;
    width: 80%;
}
.level div:nth-of-type(n+3){
	border-top: 1px rgba(225,225,225,0.3) solid;
}
.level div{
	width: 190px;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.benefits div{
	padding-top: 1rem;
}
.benefits{
	width: 32%;
}
.tiers{
	width: 68%;
}
.slick-track{
	width: 100%;
}
.level{
	width: 33.33%;
}
.vip-tier-img{
	background-image: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-vipTier-img.png?v=160912544821282701371686232141);
    background-size: cover;
    width: 115px;
    height: 115px;
    margin-top: 4rem;
}
.points-multiplier{
	font-size: 23px !important;
	margin-bottom: 10px;
}
.current-tier-title{
    font-size: 15px;
    border-bottom: 1px solid #21211f;
    width: max-content !important;
    font-weight: bold;
    letter-spacing: normal;
    color: rgba(225,225,225,.5);
}
.div-to-current-status{
    min-height: 2.5rem !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-top: 1rem;
}
.bright,.bright h3{
	color: rgba(225,225,225,.5) !important;
}
.bright div:nth-of-type(n+3){
	border-top: 1px rgba(225,225,225,0.1) solid !important;
}
@media screen and (max-width: 1150px){
	.vip-tier-table{
		width: 85%;
	}
	.vip-tier-img{
		width: 100px;
    	height: 100px;
	}
	.vip-tier p{
		letter-spacing: -0.5px;
		font-size: 11px;
	}
	.level div{
		width: 135px;
	}
	.current-tier-title{
		font-size: 13px;
	}		
}
@media screen and (max-width: 750px)
{
	.vip-tier-table {
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
	}
	.vip-tier{
		padding-top: 0;
		padding-bottom: 6rem;
	}
	.show-at-leptop{
		display: none;
	}
	.vip-tier h3{
		font-size: 30px;
	}
	.benefits{
		width: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.benefits div p{
		font-size: 23px !important;
		font-weight: 100;
	}
	.vip-tier-img{
		margin-top: 2.5rem;
	}
	.tiers{
		width:100%;
	}
	.level {
	    width: 100%;
	    display: flex !important;
	    flex-direction: column;
	    align-items: center;
	}
	.level div{
		text-align: center;
	    width: 250px;	
	}
	.level div p{
	    letter-spacing: 1px;
	    font-size: 14px;
	}
	.current-tier-title{
		font-size: 16px;
	    font-weight: 900;
	    color: white;
	}
	.current-tier-title{
		border-bottom: 3px solid #21211f;
	}
}
@media screen and (max-width: 450px)
{
	.benefits div p{
		font-size: 20px !important;
	}
}