.campaigns{
	display: flex;
	justify-content: center; 
	height: 39rem;  
    margin-bottom: 7rem;
    position: relative;
}
.campaigns .show-at-mobile{
    display: none;
}
.campaign-img{
    content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign-img.png?v=152562461111766012911686232123);
    background-size: cover;
    background-position-x: center;
    width: 529px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.campaigns-option{
	display: flex;
	flex-wrap: wrap;
    width: 420px;
}
.campaigns p{
    font-size: 13px;
    text-align: left;
    font-weight: 900;
    border-bottom: 1px solid #80894f;
    width: max-content;
    height: 25px;
}
.campaigns h1{
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.9px;
    color: white;
    position: absolute;
    left: 25%;
    top: 50%;
}
.campaigns h6{
  font-size: 18px;
  line-height: 1.36;
  text-align: left;
  color: #000000;
  margin-bottom: 0;
  letter-spacing: normal;
}
.campaigns-option img{
    height: 27px;
    margin-bottom: 12px;
}
.campaigns-option div{
    width: 168px;
    padding-top: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-right: 20px;
}
.campaigns-option div:nth-of-type(1),.campaigns-option div:nth-of-type(2){
	padding-top: 1rem;
}
.campaign1{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign1.svg?v=89657041329138197671686232124);
}
.campaign2{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign2.svg?v=81748610816457748851686232125);
}
.campaign3{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign3.svg?v=18958442786868763421686232126);
}
.campaign4{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign4.svg?v=55491346836308174151686232126);
}
.campaign5{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign5.svg?v=133020104909729352141686232127);
}
.campaign6{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign6.svg?v=166474689122625358601686232127);
}
.campaign7{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign7.svg?v=71635500158069026541686232128);
}
.campaign8{
	content: url(//cdn.shopify.com/s/files/1/0079/7193/0170/t/561/assets/swell-campaign8.svg?v=141336047838371612231686232128);
}
#text-div{
	width: 135px;
	height: 100%;
	position: relative;
}
#text-div p{
	transform: rotate(90deg) scaleX(1);
    position: absolute;
    top: 27%;
    right: -55%;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4px;
    text-align: left;
    color: #d1cfcc;
    border-bottom: none;
}
@media screen and (max-width: 1300px)
{
    .campaigns h1{
        left: 22%;
    }
}
@media screen and (max-width: 1150px)
{
	.campaigns{
		height: 34rem;
	}
	.campaign-img{
		width: 450px;
	}
	#text-div{
		width: 100px;
	}
	#text-div p{
		top: 31%;
		right: -97%;
	}
	.campaigns-option{
		width: 322px;
	}
	.campaigns-option div{
		width: 146px;
		margin-right: 15px;
	}	
    .campaigns h6{
        font-size: 16px;
    }
    .campaigns h1{
        font-size: 24px;
    }
    .vip-tier{
        padding-bottom: 7rem;
    }
}
@media screen and (max-width: 900px)
{
    .campaigns{
        height: 28rem;
    }
    .campaign-img{
        width: 360px;
    }
    .campaigns h1 {
        font-size: 21px;
    }
    #text-div{
        width: 80px;
    }
    #text-div p{
        top: 36%;
        right: -128%;
        font-size: 9px;
    }
    .campaigns-option{
        width: 285px;
    }
    .campaigns-option div{
        width: 127px;
    }
    .campaigns-option img {
        height: 19px;
        margin-bottom: 6px;
    }
    .campaigns h6 {
        font-size: 13px;
    }
    .campaigns p{
        font-size: 10px;
    }
}
@media screen and (max-width: 750px){
    .campaigns .show-at-leptop{
        display: none;
    }
    .campaigns .show-at-mobile{
        display: flex;
    }
    .campaigns{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .campaign-img{
        width: 100%;
    }
    .campaigns h1{
        font-size: 35px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        width: max-content;
    }
    .campaigns-option{
        width: 450px;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .campaigns-option div{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 45px;
    }
    .campaigns-option img{
        height: 35px;
        margin-bottom: 6px;
        margin-top: 1.5rem;
    }
    .campaigns h6{
        font-size: 18px;
    }
    .campaigns p{
        font-size: 14px;
        margin-bottom: 2rem;
        padding-bottom: 29px;
    }
    .campaigns-option div:nth-of-type(2n){
        margin-right: 0;
    }
}
@media screen and (max-width: 500px){
    .campaigns-option div {
        width: 146px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 450px){
    .campaigns h1{
        font-size: 25px;
    }
    .campaigns-option{
        width: 425px;
    }
    .campaigns-option div{
        width: 165px;
    }
    .campaigns p{
        padding-bottom: 22px;
        font-size: 12px;
        margin-bottom: 1rem;
    }
    .campaigns-option img{
        margin-top: 0rem;
        height: 25px;
    }
    .campaigns h6 {
        font-size: 15px;
    }
    .campaigns-option{
        margin-top: 2rem;
        width: 305px;
    }
    .campaigns-option div {
        width: 140px;
    }
    .campaigns{
        margin-bottom: 4rem;
    }
}