 @font-face {
  font-family: "font-primary-bold";
  src: url('https://cdn.shopify.com/s/files/1/0079/7193/0170/t/2/assets/AvenirLTPro-Heavy.woff2') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0079/7193/0170/t/2/assets/AvenirLTPro-Heavy.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "font-primary-medium";
  src: url('https://cdn.shopify.com/s/files/1/0079/7193/0170/t/2/assets/AvenirLTPro-Medium.woff2') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0079/7193/0170/t/2/assets/AvenirLTPro-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "font-primary-regular";
  src: url('https://cdn.shopify.com/s/files/1/0079/7193/0170/t/2/assets/AvenirLTPro-Roman.woff2') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0079/7193/0170/t/2/assets/AvenirLTPro-Roman.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}


.c-checkout .c-formSubmitStatus__message, 
.c-breadcrumbItem--current .c-breadcrumbItem__link, .c-breadcrumbItem--current .c-breadcrumbItem__text ,
a, a:hover , a:visited{
	color:#AF5D00;
}


.c-checkout .c-shippingMethod__option--active .c-shippingMethod__pseudoRadio,
.c-checkout .is-checked .c-vueCheckbox__inputBox{
	background-color: #AF5D00;
    border: 1px solid #AF5D00;
}

.c-checkout .c-logo__image{
	max-width: 270px;
}

.c-header__steps{
	justify-content: left;
}


.c-checkout .c-formSubmitStatus--error,
.c-checkout .c-checkout__divideSummary{
	background:#F7F6F3;
}

.c-checkout .c-formInput {
	border-radius: 0;
    font-size: 16px;
    line-height: 26px;
    color: #3D3D38;
    letter-spacing: 0.5px;
}

.c-checkout .c-formInput::placeholder,
.c-checkout input::placeholder,
.c-checkout textarea::placeholder{
  color: #3D3D38;
  opacity: 1;
}

.c-checkout .c-button{
	font-size: 13px;
    line-height: 16px;
    letter-spacing: 2.71px;
    color:#fff;
    background: #AF5D00;
    border-radius: 2px;
    text-transform: uppercase;
    border-color:#AF5D00;
    padding-left:20px;
    padding-right:20px;
}


.c-checkout .c-button:active, .c-checkout .c-button:focus, .c-checkout .c-button:hover {
	background: #9a5a12;
    border-color: #9a5a12;
}

.c-checkout .c-button--link{
	letter-spacing:0;
    color:#AF5D00;
    background:transparent;
    border-radius: 0;
    text-transform: initial;
    border-color:none;
    padding:0;
}

.c-checkout .c-button--link:active, .c-checkout .c-button--link:focus, .c-checkout .c-button--link:hover{
	background:transparent;
	border-color:transparent;
	color:#AF5D00;
}





