{% section 'faq-hero' %}
<div class="faq" data-sticky-content-container>
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item medium--two-thirds push--medium-one-twelfth small--three-quarters" data-faq-content>
                {% section 'faq-main' %}
            </div>
            <div class="grid__item small--one-quarter push--medium--one-twelfth">
                {% section 'faq-contact' %}
            </div>
        </div>
    </div>
</div>